@inject OrchardCore.IOrchardHelper Orchard
@using PlataformaTransparencia.Negocios.Comunes
@inject ICdnService Cdn

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>.data-source{display:none}</style>
<!--MAIN BANNER-->
<section class="banner-main">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Datos Abiertos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->
        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h1>Datos Abiertos</h1>
                    </div>
                    <div class="banner-main-desc">
                        <p>Descarga los conjuntos de datos que hacen posible Mapa de Inversiones Bogotá</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>




<section class="section op-available" id="s3">
    <div class="container">
        <div class="section-heading heading-left">
            <h2>Conjuntos de datos disponibles</h2>
        </div>
        <div class="clearfix"></div>
        @{
            var datosproyectos = await Orchard.GetContentItemByHandleAsync("alias:DatosAbiertosProyectosInversion");
            var esconde = "";
            if (datosproyectos == null || datosproyectos.Content.BagPart.ContentItems.First == null) esconde = "hidden";
            if (datosproyectos != null)
            {
                <!--DATOS PROYECTOS-->
                <div class="main-Content" @esconde>
                    <div class="container my-4">
                        <div class="row justify-content-center">

                            <div class="section-heading heading-left">
                                <h3 class="h5">@datosproyectos.Content.DatosAbiertos.Tituloamostrar.Text</h3>
                                <p>@Html.Raw(datosproyectos.Content.HtmlBodyPart.Html)</p>
                            </div>

                        </div>
                        <div class="row justify-content-left items">
                            @foreach (var caja in datosproyectos.Content.BagPart.ContentItems)
                            {
                                var idfuente = @caja.DescargaDatosAbiertos.IdentificadorFuente.Value;
                                var classdivfuente = "fuente" + idfuente;
                                <div class="col-xl-4 col-md-4 col-12 item">
                                    <!-- Begin OpenData item -->
                                    <div class="services-item services-item-row item-style box-od">
                                        <div class="services-item-info">
                                            <h4 class="services-item-heading">@caja.TitlePart.Title</h4>
                                            <p>@Html.Raw(caja.HtmlBodyPart.Html)</p>
                                            <div class="@classdivfuente" param="@idfuente"></div>
                                            @foreach (var links in caja.BagPart.ContentItems)
                                            {
                                                <div class="actions-links">
                                                    <a href="@links.LinkDatosAbiertos.EnlaceCVS.Url" target="_blank" rel="noopener noreferrer" class="btn btn-primary">
                                                        <span> @links.LinkDatosAbiertos.EnlaceCVS.Text</span> <i class="material-icons md-24">download</i>
                                                    </a>
                                                    <a href="@links.LinkDatosAbiertos.Diccionariodedatos.Url" target="_blank" rel="noopener noreferrer" class="btn btn-outlined">
                                                        <span> @links.LinkDatosAbiertos.Diccionariodedatos.Text</span> <i class="material-icons md-24">download</i>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <!-- End open data item -->
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }   
    </div>
</section>

<section class="section CTA-hero">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5">
                <img src="img/datos-bogota.png" class="img-fluid" alt="Preview del sitioweb de datos abiertos bogota">
            </div>
            <div class="col-lg-5">
                <h2 class="white-text">Explora más:</h2>
                <p>Visita la Plataforma Distrital de Datos Abiertos de Bogotá, tienes a tu disposión más de 2.064 conjuntos de datos de más de 70 entidades</p>

                <p class="text-bold">¡El control ciudadano comienza con la información!</p>

                <div class="wrap-cta my-3">
                    <a href="https://datosabiertos.bogota.gov.co/" class="btn btn-primary btn-lg" target="_blank">
                        <span title="Ver más">Ir a Datos Abiertos Bogotá</span>

                        <i class="material-icons md-24">open_in_new</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="@Cdn.Url(Url, "~/js/Bootbox/bootbox.min.js")" type="text/javascript"></script>

<script src="@Cdn.Url(Url, "~/js/DatosAbiertos_aux.js")"></script>
