@inject OrchardCore.IOrchardHelper Orchard
@model PlataformaTransparencia.Modelos.ModelHomeData
@using PlataformaTransparencia.Modulo.Principal.Helpers
@using PlataformaTransparencia.Negocios.Comunes
@inject ICdnService Cdn

@{

    var banners = await Orchard.GetContentItemByHandleAsync("alias:bannerhome");
    var content_media = await Orchard.GetContentItemByHandleAsync("alias:VideoHome");
    var url_aux = Convert.ToString(content_media?.Content?.BannerMedia?.src?.Url);

    var maxAnyo = @Model.MaxAnnioEntidades;
    var anteriorVigencia = @Model.anteriorVigencia;
    var flag_vigencia_anterior = Model?.anteriorVigencia != null;
    var flag_vigencia_actual = Model?.InfoVigenciaActual != null;
    var vigente_actual = @Html.FormatoMoneda(Model?.InfoVigenciaActual?.Presupuesto != null ? Model.InfoVigenciaActual.Presupuesto : 0);
    var val_giros = @Html.FormatoMoneda(Model?.InfoVigenciaActual?.valorGiros != null ? Model.InfoVigenciaActual.valorGiros : 0);
    var val_comprometido = @Html.FormatoMoneda(Model?.InfoVigenciaActual?.valorComprometido != null ? Model.InfoVigenciaActual.valorComprometido : 0);

}
<style>
    .capitalEntidad {
    text-transform: capitalize;
    }

    .autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    }

    .autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    }

    .autocomplete-selected {
    background: #F0F0F0;
    }

    .autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
    }

    .autocomplete-group {
    padding: 2px 5px;
    }

    .autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
    }

    .graficoInteractivo path:hover {
        fill: #5916c3;
        stroke: #5916c3;
        stroke-width: 3px;
        transition: fill 0.4s;
        color: #fff;
    }

    /* Estilos específicos para la gráfica */
    .bubble-chart-container {
    width: 100%;
    height: auto;
    position: relative;
    }

    .bubble-chart-svg {
    width: 100%;
    height: auto;
    }

    .bubble-chart-bubble {
    stroke: #fff;
    stroke-width: 1px;
    stroke-linejoin: round;
    transition: transform 0.2s ease, stroke-width 0.2s ease, stroke 0.2s ease;
    }

    .bubble-chart-text {
    font-family: inherit;
    fill: #fff;
    font-weight: bold;
    pointer-events: none;
    text-anchor: middle;
    }

    .bubble-chart-tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-family: inherit;
    font-size: clamp(10px, 1vw, 12px);
    background: #dcdcdc;
    color: #000;
    border-radius: 10px;
    pointer-events: none;
    visibility: hidden;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    z-index: 10;
    min-width: 100px;
    max-width: 200px;
    word-wrap: break-word;
    }

    svg .segmento-dona {
        pointer-events: none;
        cursor: default !important;
    }

    #graphDonaComprometido,
    #graphDonaGiros,
    #graphDonaComprometido svg,
    #graphDonaGiros svg {
        cursor: default !important;
    }

    .header-search{display:none}
    
    
    
</style>


<main>
    
    <section class="welcome">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1>Mapa de Inversiones Bogotá</h1>
                    <p class="tagLine">
                        Bienvenido(a) a Mapa de Inversiones Bogotá. Aquí podrás conocer el avance del presupuesto y de los proyectos que se desarrollan en las 20 localidades con dinero público, filtrándolos por zona, sector de la inversión, entidad a cargo y estado del proyecto.
                    </p>
                </div>
            </div>
            <!--SEARCH FEATURE -->
            <div class="row justify-content-center">
                <div class="col-lg-8">

                    @using (Html.BeginForm("BusquedaResultados", "Home", FormMethod.Get, new { @class = "search-page-form" }))
                    {
                        <div class="form-field whiteSearch mb-4" id="contentSearchDiv">
                            <label for="SearchString" class="form-field-label"> Proyectos, sectores, entidades. Por ejemplo: Metro de bogotá</label>
                            <button type="submit" class="buttonsearBTN" title="Click para Iniciar Buqueda">
                                <i class="material-icons md-22">search</i> <span class="">Buscar</span>
                            </button>
                            <input type="search" class="form-field-input" name="SearchString" id="SearchString" value=""
                                   autocomplete="off" required="required">
                            <!--id="page-field-search"-->
                        </div>

                    }


                    <div id="search-home" class="search-body">
                        <div id="divNoEncontrado" class="no-search-results" style="display: none;">
                            No se han encontrado resultados
                        </div>
                        <div class="search-results objHidden" id="divResultados">
                        </div>
                    </div>
                </div>

            </div> 
        </div>
    </section>
    <!-- MAIN SLIDER SECTION -->
    <input id="anioPresupuesto" value="@maxAnyo" hidden />
    <input id="anteriorVigencia" value="@anteriorVigencia" hidden />
    <section class="section main-slider gradient-tb" id="ContenedorVigencia">
        <div class="container">
            <div class="frame-slider">
                @if (flag_vigencia_actual)
                {
                    <div class="container">
                        <div class="row wrap-header-tit justify-content-center">

                            <div class="col-lg-10 text-center">
                                <h2>¡Conoce el presupuesto de Bogotá <span class="anio">@maxAnyo</span>!</h2>
                                <span class="Tagline">Consulta y controla el avance en la ejecución de los recursos públicos.</span><br />
                            </div>


                        </div>



                    </div>
                    <div class="container">
                        <!-- MAIN SLIDESHOW-->
                        <div class="slide-vertical-thumb">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-3 col-lg-3 col-xxl-3 thumb-left">
                                    <div class="carousel carousel-nav " data-flickity='{"asNavFor": ".carousel-mainX", "draggable": false, "percentPosition": false, "groupCells": 3, "pageDots": false, "prevNextButtons": false,  "groupCells": true }'>
                                        <div class="carousel-cell"> <div>¿Cuánto es el presupuesto anual?</div></div>
                                        <div class="carousel-cell"> <div>¿En qué se invierte el dinero de los bogotanos?</div></div>
                                        <div class="carousel-cell"><div>Presupuesto por entidad</div></div>

                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-xl-9 col-lg-9 col-xxl-9 slide-horizontal">
                                    <div class="carousel carousel-mainX" data-flickity='{ "contain": true, "pageDots": false, "autoPlay": false, "adaptiveHeight": "true", "groupCells": true, "prevNextButtons": false }'>
                                        <div class="carousel-cell">
                                            <div class="wrap-cell-container">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-12"><h3 class="py-3">¿Cuánto es el presupuesto anual?</h3></div>
                                                    <div class="col-md-6 col-lg-6 h-100">
                                                        <!--SEGMENTO DONAS-->
                                                        <div class="wrap-donuts">
                                                            <div class="donut-container">
                                                                <div id="graphDonaComprometido"></div>
                                                                <span class="label-graph">Ejecución Presupuesto Comprometido</span>
                                                            </div>
                                                            <div class="donut-container">
                                                                <div id="graphDonaGiros"></div>
                                                                <span class="label-graph">Ejecución Presupuesto Girado</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-sm-12 col-md-6 col-lg-6 h-100">
                                                        <div class="wrap-main-datos">

                                                            <div class="wrap-summary">
                                                                <div class="card white-card">
                                                                    <div class="card-body">
                                                                        <small>Presupuesto total vigente </small>
                                                                        <span class="big-number">$ @vigente_actual</span>
                                                                    </div>
                                                                </div>
                                                                

                                                            </div>
                                                            <div class="wrap-summary">
                                                                <div class="card bg-none">
                                                                    <div class="card-body">
                                                                        <div class="main-icon-value">
                                                                            <div class="ic-wrap"><img src="~/img/ic-comprometido.svg" class="img-fluid" alt="Icono decorativo Presupuesto" /></div>
                                                                            <div class="desc-data">
                                                                                <small>Presupuesto Comprometido</small>
                                                                                <span class="h4">$ @val_comprometido</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                

                                                            </div>
                                                            <div class="wrap-summary">
                                                                <div class="card bg-none">
                                                                    <div class="card-body">
                                                                        <div class="main-icon-value">
                                                                            <div class="ic-wrap"><img src="~/img/ic-girado.svg" class="img-fluid" alt="Icono decorativo Presupuesto" /></div>
                                                                            <div class="desc-data">
                                                                                <small>Presupuesto Girado</small>
                                                                                <span class="h4">$ @val_giros</span>
                                                                            </div>
                                                                        </div>
                                                                       
                                                                    </div>

                                                                </div>

                                                                



                                                            </div>
                                                        </div>
                                                        <div class="wrap-cta my-3">
                                                            <a href="/PresupuestoGeneral" class="btn btn-primary btn-lg">
                                                                <span title="Ver más">Explora el presupuesto distrital</span>

                                                                <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
                                                                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    
                                                   
                                                </div>


                                            </div>

                                        </div>
                                        <div class="carousel-cell">
                                            <div class="wrap-cell-container">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-12">
                                                        <h3>¿En qué se invierte el dinero de los bogotanos?</h3>
                                                        <p>Descubre los sectores en que se invirtieron los recursos </p>

                                                    </div>
                                                    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-5 h-100" style="text-align:left;">
                                                        <div id="divEnQueInvirtieron" class="graficoInteractivo" style="z-index:1000000;width:100%;height:auto;"></div>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-7  h-100">

                                                        <div class="wrap">
                                                            <p class="text-bold"><span class="text-bold">SECTORES</span> con mayor asignación presupuestal para inversión durante @maxAnyo:</p>
                                                            <div class="row" id="cardEnQueInvirtieron"> </div>
                                                        </div>
                                                        <div class="wrap-cta my-3">
                                                            <a href="/BusquedaResultados?Type=Sector" class="btn btn-primary btn-lg">
                                                                <span title="Ver más">Ver todos los sectores </span>

                                                                <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
                                                                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                        <div class="carousel-cell">
                                            <div class="wrap-cell-container">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-12">
                                                        <h3>Presupuesto por entidad</h3>
                                                        <p>Explora la gestión presupuestal de las entidades (secretarías, departamentos y unidades de la Alcaldía).</p>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6  col-xl-6 col-xxl-5 h-100"> <div id="divQuienInvirtio" class="bubble-chart-container" style="z-index: 1000000;"></div></div>

                                                    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-7 h-100">

                                                        <div class="wrap">
                                                            <p class="text-bold"><span class="text-bold">ENTIDADES</span> con mayor asignación presupuestal durante el @maxAnyo</p>
                                                            <div class="row" id="cardQuienInvirtio">
                                                            </div>
                                                        </div>
                                                        <div class="wrap-cta my-3">
                                                            <a href="/PresupuestoGeneral?type=entidad" class="btn btn-primary btn-lg">
                                                                <span title="Ver más">Ver Entidades </span>

                                                                <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
                                                                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                }



            </div>

        </div>
    </section>
    <!-- TIPOS DE PROYECTOS -->
    <section class="section proyectos-tipo gradient-bt">
        <div class="container">
            <div class="section-heading heading-center">
                <h2>¿Qué tipos de proyectos encontrarás en esta plataforma?</h2>
                <p class="section-subheading"></p>

            </div>
            <div class="row mb-4 justify-content-center">
                <div class="col-lg-4">
                    <div class="card py-inv">
                        <div class="card-body">
                            <div class="card-img">
                                <div class="icon-wrap"><img class="img-fluid" src="img/ic-pinversion.svg" alt="imagen decorativa" /></div>
                            </div>
                            <div class="card-title"><h3>Proyectos de Inversión</h3></div>
                            <p>Son proyectos gestionados por las entidades los cuales están alineados con los Objetivos estratégicos, Programas y metas del Plan Distrital de Desarrollo. Igualmente, cada proyecto puede estar asociados a los Proyectos POT.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card py-pdl">
                        <div class="card-body">
                            <div class="card-img">
                                <div class="icon-wrap"><img class="img-fluid" src="img/icon-totalproyectos-pdl.svg" alt="imagen decorativa" /></div>
                            </div>
                            <div class="card-title"><h3>Proyectos de Desarrollo Local (PDL)</h3></div>
                            <p>Son proyectos gestionados por las alcaldías locales, con recursos participativos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card py-pot">
                        <div class="card-body">
                            <div class="card-img">
                                <div class="icon-wrap"><img class="img-fluid" src="img/icon-totalproyectos.svg" alt="imagen decorativa" /></div>
                            </div>
                            <div class="card-title"><h3>Proyectos POT</h3></div>
                            <p>Son proyectos específicos que hacen parte del Plan de Ordenamiento Territorial (POT). Están orientados a transformar la ciudad en temas como movilidad, espacio público, equipamientos, vivienda y sostenibilidad ambiental.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="wrap-btn2 text-center m-4">
                <a title="Conoce más de estos proyectos" href="/como-funciona-la-inversion" class="btn btn-primary" target="_blank">
                    <span>Conoce más de estos proyectos</span>
                    <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
                        <use xlink:href="img/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>

    </section>

    <!-- INVERSIONES ESTRATEGICAS -->
    <section class="section gradient-bt inv-estrategicos">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-2 py-inv">
                    <div class="icon-wrap">
                        <img class="img-fluid" src="img/ic-pinversion.svg" alt="imagen decorativa">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="section-heading heading-center">
                        <h2>Principales Inversiones Estratégicas </h2>
                    </div>
                    <p class="py-4">La aprobación del <a href="https://www.sdp.gov.co/sites/default/files/generales/abc_plan_desarrollo-distrital.pdf" target="_blank">Plan de Desarrollo "Bogotá Camina Segura"</a> ha permitido impulsar inversiones transformadoras en movilidad, educación, salud, integración social, medio ambiente y seguridad, creando un modelo de ciudad más equitativo, sostenible y resiliente</p>

                </div> 
            </div>
            <div class="row">
                @foreach (var item in Model.TopSectoresEstrategicos)
                {
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="wrap-icon"><img src="@($"/img/{item.Icono}")" alt="icono sectores"></div>
                                <h3>@item.Sector</h3>
                                <div class="wrap-inv-data">
                                    <div class="desc-data proy-counters">
                                        <div class="executeV">Cantidad de proyectos</div>
                                        <div class="executeN">@($"{Html.FormatoNumero(item.NumeroProyectos, decimales: 0)}")</div>
                                    </div>
                                    <div class="wrap-datos-proy">
                                        <div class="desc-data">
                                            <div class="executeV">Valor programado</div>
                                            <div class="executeN">
                                               $ @($"{@Html.FormatoMoneda(item.TotalProgramado, nivel: 1)}")

                                            </div>
                                        </div>
                                        <div class="desc-data">
                                            <div class="executeV">Valor Girado</div>
                                            <div class="executeN">
                                                $ @($"{@Html.FormatoMoneda(item.TotalGirado, nivel: 1)}")
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                }                   

            </div>
            <div class="wrap-btn2 m-4 text-center">
                    <a title="Ver todas las inversiones" href="/BusquedaResultados?Type=Proyecto" class="btn btn-primary" target="_blank">
                        <span>Ver todas las inversiones</span>
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
             </div>


            </div>

    </section>
    <!-- MAPA COMUNAS Y CORREGIMIENTOS -->
    <section class="section provincias">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">

                    <div class="section-heading heading-center">
                        <h2>Explorando tu localidad</h2>
                        <p class="section-subheading">Descrubre los proyectos de desarrollo local y proyectos POT que hay en tu localidad, haz seguimiento de su ejecución y reporta el avance.</p>

                    </div>
                    <div class="wrap-counter d-flex">
                        <div class="counters">
                            <div class="desc-data">
                                <div class="icon-desc">
                                    <img src="img/icon-totalproyectos-pdl-yellow.svg" alt="icono decorativo" />
                                </div>
                                <div class="executeV">Proyectos de Desarrollo local (PDL)</div>
                                <div class="executeN" id="numProyPDL">@Html.FormatoNumero(Model.countOngoingProjects.num_proyectos_pdl, decimales: 0)</div>
                            </div>
                        </div>
                        <div class="counters">
                            <div class="desc-data">
                                <div class="icon-desc">
                                    <img src="img/icon-totalproyectos-yellow.svg" alt="icono decorativo" />
                                </div>
                                <div class="executeV">Proyectos POT</div>
                                <div class="executeN" id="numProyExe">@Html.FormatoNumero(Model.countOngoingProjects.num_proyectos_pot,decimales:0)</div>
                            </div>
                        </div>
                        
                    </div>


                </div>


            </div>
            <div class="row location-tabs">
                <div class="col-lg-12">
                <!--LOCALIDADES-->
                <div class="location-card mb-4">
                    <h3 class="text-center">Localidades</h3>
                    <div class="carousel" data-flickity='{ "contain": true, "pageDots": true, "autoPlay": false, "cellAlign": "right", "groupCells": true,  "lazyLoad": true, "lazyLoad": 10 }'>
                        @foreach (var item in Model.Localidades)
                        {
                            <div class="carousel-cell">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="identificador-comuna" style="background-image:url(@Url.Content($"~/img/{item.UrlImg}"))"></div>
                                        <div class="wrap-desc-comuna">
                                        <a href="@item.LinkLocationProfile" target="_blank" class="h4">@item.Nombre</a>
                                        <div class="proyect-data">
                                                <div class="wrap-data-proyect">
                                                    <span class="number-proyecto">@item.NumeroProyectosPDL</span> <span>Proyectos de Inversión PDL</span>
                                                </div>
                                                <div class="wrap-data-proyect">
                                                    <span class="number-proyecto">@item.NumeroProyectosPOT</span> <span>Proyectos POT</span>
                                                </div>
                                                
                                        </div>
                                        
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                                       
                    </div>
                </div>
                </div>
            </div>

        </div>
    </section>
    <section class="">
        <div class="container">
            <div class="wrap-map-link">
                <div class="map-link">
                <div class="row justify-content-center">
                    
                    <div class="col-lg-8 ">
                        <div class="section-heading heading-center">
                            <h2>Explora el Mapa de Proyectos POT</h2>
                        </div>
                        <div class="wrap-cta my-3">
                            <a href="/MapView" class="btn btn-primary btn-lg">
                                <span title="Ver más">Ver Mapa </span>

                                <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
                                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    </div>
                </div>



            </div>


        </div>
    </section>

    <div class="section glosario-banner-link">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-heading heading-center">
                    <h2>Centro de ayuda</h2>
                    <div class="section-subheading">
                            ¿Tienes dudas con algún término? consulta el <span class="text-bold">Glosario</span> y entiende de forma clara los conceptos más usados en el Mapa de Inversiones Bogotá.
                    </div>
                </div>
                <div class="section-btns justify-content-center py-3">
                    <a title="Ir al Glosario" href="/centroAyuda" class="btn btn-primary" target="_blank">
                        <span>Ir al Glosario</span>
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
                                <use xlink:href="img/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            </div>
        </div>

    </div>



    <!-- NEWS AND SOCIAL MEDIA-->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="Cnews">
                        <div class="section-heading heading-center">
                            <a href="" target="_blank">
                                <h2>¡Actualízate!</h2>
                            </a>
                            <div class="section-subheading">
                                Conoce las últimas noticias sobre la ejecución de los proyectos en Bogotá.
                            </div>
                        </div>
                        <div class="cards-News-container">
                            @foreach (var noticia in await Orchard.GetRecentContentItemsByContentTypeAsync("BlogPost", 4))
                            {

                                <!--NOTICIA 3-->
                                <div class="card mb-3">
                                    <div class="card-body g-0">

                                            @{
                                                var imgpath = "img/Pic001.jpg";
                                                if (noticia.Content.BlogPost.BannerImage.Paths.Count != 0)
                                                {
                                                    imgpath = noticia.Content.BlogPost.BannerImage.Paths[0];
                                                    <img class="img-fluid" src=@Orchard.AssetUrl((string)imgpath) alt="...">
                                                }
                                                else
                                                {
                                                    <img class="img-fluid" src=@imgpath alt="...">
                                                }
                                            }



                                            <div class="card-body Noticia">
                                            <a href="/Noticia/@noticia.ContentItemId" class="card-title"><span class="h4">@noticia</span></a>
                                                <p class="card-text">@noticia.Content.BlogPost.Subtitle.Text</p>
                                                <!--<p class="card-text"><small class="text-muted">Creado: @noticia.CreatedUtc</small></p>-->
                                            </div>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="section-btns justify-content-center py-3">
                        <a title="Leer más noticias" href="https://bogota.gov.co/contenidos" class="btn btn-primary" target="_blank">
                            <span>Leer más noticias</span>
                            <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
                                <use xlink:href="img/sprite.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CONTACT US-->
    <!--HELP CENTER SHORTCUT-->
    <div id="helpCenter"></div>


</main>
@section scripts
{
    <script type="text/javascript" src="@Cdn.Url(Url, "~/js/lib/D3/d3.v7.min.js")"></script>
    <script type="text/javascript" src="@Cdn.Url(Url, "~/js/search_aux.js")"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/d3plus@2"></script>

    <script src="@Cdn.Url(Url, "~/js/scripts.js")"></script>
    <script src="@Cdn.Url(Url, "~/js/home_aux.js")"></script>
    <script type="text/javascript">
            function loadVideo(videoId) {
            // Muestra el iframe y oculta el placeholder
            var videoContainer = document.getElementById('video-container-' + videoId);
            var placeholder = videoContainer.previousElementSibling;

            // Muestra el iframe
            videoContainer.style.display = 'block';


            // Oculta el placeholder
            placeholder.style.display = 'none';
        }

    </script>
}

@section DataBody {
      data-vigencia='[{"ValGiros":"@Model.InfoVigenciaActual.valorGiros","ValComprometido":"@Model.InfoVigenciaActual.valorComprometido","Presupuesto":"@Model.InfoVigenciaActual.Presupuesto"}]'
           
}
