@inject OrchardCore.IOrchardHelper Orchard
@model PlataformaTransparencia.Modelos.ModelHomeData

@section scripts
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="js/search_aux.js"></script>
***REMOVED***
    @{
    var Sefin = Model.Consolidados.Where(o => o.OrigenInformacion.ToUpper().Contains("SEFIN"));
    var Oncae = Model.Consolidados.Where(o => o.OrigenInformacion.ToUpper().Contains("ONCAE"));
    System.IFormatProvider cultureHN = new System.Globalization.CultureInfo("es-HN");
   

***REMOVED***
<style>
    .capitalEntidad {
        text-transform: capitalize;
***REMOVED***
    .autocomplete-suggestions {
        border: 1px solid #999;
        background: #FFF;
        overflow: auto;
***REMOVED***

    .autocomplete-suggestion {
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
***REMOVED***

    .autocomplete-selected {
        background: #F0F0F0;
***REMOVED***

    .autocomplete-suggestions strong {
        font-weight: normal;
        color: #3399FF;
***REMOVED***

    .autocomplete-group {
        padding: 2px 5px;
***REMOVED***

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
    ***REMOVED***
</style>

<main>
    <!-- SEARCH SECTION -->
    <section class="search-section">
        <div class="container">
            <div class="search-page-container header-search">

                <div class="Tagline text-center">
                    <h1> Honduras Inversiones Transparencia y Cuentas Claras</h1>
                    <span class="h5">Use esta plataforma para informarse, participar y controlar</span>
                </div>

                @using (Html.BeginForm("BusquedaResultados", "Home", FormMethod.Get, new { @class = "search-page-form" ***REMOVED***))
                {
                    <div class="form-field whiteSearch" id="contentSearchDiv">
                        <label for="SearchString" class="form-field-label">Instituciones, Planes y programas, por ejemplo: Secretaría de Energía.</label>
                        <button type="submit" class="buttonsearBTN" title="Click para Iniciar Buqueda"><i class="material-icons md-22">search</i> <span class="d-none d-sm-inline">Buscar</span></button>
                        <input type="search" class="form-field-input" name="SearchString" id="SearchString" value="" autocomplete="off" required="required">
                        <!--id="page-field-search"-->
                    </div>

            ***REMOVED***
                <div id="search-home" class="search-body">
                    <div id="divNoEncontrado" class="no-search-results" style="display: none;">No se han encontrado resultados</div>
                    <div class="search-results objHidden" id="divResultados">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- SLIDESHOW -->
    <div class="section-bg intro">
        <div class="intro-slider flickity-dots-absolute" data-flickity='{ "autoPlay": true, "bgLazyLoad": 1, "bgLazyLoad": true, "fade": true, "prevNextButtons": false ***REMOVED***'>
            @{
                var banners = await Orchard.GetContentItemByHandleAsync("alias:bannerhome");
        ***REMOVED***
            @foreach (var item in banners.Content.BagPart.ContentItems)
            {

                var ruta_aux = "";
                if (@item.Banner.Fondo.Paths.Count > 0)
                {
                    ruta_aux = @item.Banner.Fondo.Paths[0];
            ***REMOVED***

               <div class="intro-item" data-flickity-bg-lazyload="@Orchard.AssetUrl((string)ruta_aux,200,200,OrchardCore.Media.Processing.ResizeMode.Crop)">
                    <div class="container">
                        <div class="row">

                        </div>
                    </div>
                </div>
        ***REMOVED***
        </div>
    </div><!-- End SLIDESHOW -->
    <!-- MAIN QUESTIONS -->
    <section class="section-questions">
        <div class="container">
            <div class="card-group">
                @{
                    var anuncios = await Orchard.GetContentItemByHandleAsync("alias:anuncios");
            ***REMOVED***
                @foreach (var anuncio in anuncios.Content.BagPart.ContentItems)
                {
                    <div class="card no-rounded">

                        <a href="@anuncio.LinkMenuItemPart.Url" class="services-item item-style">
                            <div class="mh72">
                            <span class="h4 services-item-heading">@anuncio.DisplayText</span>
                            </div>
                            <div class="services-item-desc mb-4">@Html.Raw(anuncio.HtmlBodyPart.Html)</div>
                            @if (anuncio.LinkMenuItemPart.Name != null)
                            {
                                <div class="btn btn-cards">
                                    <span title="Ver más">@anuncio.LinkMenuItemPart.Name</span>
                                    <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
                                </div>
                        ***REMOVED***
                        </a>
                    </div>
            ***REMOVED***

            </div>

        </div>
    </section><!-- End services -->
    <!-- INFOGRAFIA LINKS -->
    <section class="infogram">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="d-flex px-5">
                        <div class="section-heading heading-left">
                            

                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-infogram p-3">
                        <div class="infogram-slider flickity-dots-absolute" data-flickity='{ "autoPlay": true, "bgLazyLoad": 1, "bgLazyLoad": true, "fade": true, "prevNextButtons": false ***REMOVED***'>
                            <div class="intro-item" data-flickity-bg-lazyload="">
                                <div class="col">

                                    <div class="intro-content">
                                        <div class="section-heading shm-none">
                                            <h2>
                                                Conoce el Mapa de Inversión Pública
                                            </h2>
                                            <p class="section-desc">
                                                En Honduras los programas y los proyectos son gestionados a través del Sistema Nacional de Inversión Pública (SNIPH) para que contribuyan a la prioridades de desarrollo nacional y al bienestar de toda la ciudadanía hondureña.
                                                <br /><br />
                                                Conoce los proyectos de inversión pública en ejecución en tu territorio.

                                            </p>
                                        </div>
                                        <div class="wrap-btn intro-btns2">
                                            <a href="/MapView" target="_blank" class="btn btn-cards">
                                                <span>
                                                    Ir al mapa
                                                </span>
                                                <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
                                            </a>


                                        </div>
                                    </div>
                                </div>
                            </div>                      
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- ENTIDADES LINKS -->
    <section class="section-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading heading-center">
                        <h2>Presupuestos Ciudadanos</h2>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-md-4">
                        <div class="card h-100 border-0 card-entidad">
                            <div class="card-body">
                                <div class="card-title-container mh56">
                                    <h3 class="text-center"> ¿Cuál es el ciclo <br />presupuestario?</h3>
                                </div>
                                <div class="wrap-desc-entidad text-center">
                                    El presupuesto contempla 5 etapas:<strong> formulación</strong>, <strong>aprobación</strong>, <strong>ejecución</strong>, <strong>seguimiento y evaluación</strong>, <strong>liquidación y rendición de cuentas</strong>, estas etapas de presupuesto deben ser vistas como un proceso continuo.

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100 border-0 card-entidad">
                            <div class="card-body">
                                <div class="card-title-container mh56">
                                    <h3 class="text-center">¿De dónde se espera <br />obtener los ingresos?</h3>
                                </div>
                                <div class="wrap-desc-entidad text-center">
                                    El presupuesto de ingresos públicos es la estimación de recursos financieros que el Estado espera percibir durante el año.
                                    <br /><br />
                                    Para el <strong>2022</strong> los ingresos estimados son<br /> <strong>L 162,435.7</strong> de fuentes como: impuestos, tasas, contribuciones, prestamos, entre otros.

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100 border-0 card-entidad">
                            <div class="card-body">
                                <div class="card-title-container mh56">
                                    <h3 class="text-center">¿ Cuánto es el presupuesto<br />de gastos ?</h3>
                                </div>
                                <div class="wrap-desc-entidad text-center">
                                    Para el año <strong>2022</strong>, la <strong>Administración Central</strong> y la <strong>Administración descentralizada</strong> tiene asignado un presupuesto de gasto de <br /><strong>L 308,233.6 millones.</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-btns justify-content-center py-5">
                        <a title="Ir a presupuestos Ciudadanos" href="/ProcesoPresupuesto" class="btn btn-cards">
                            <span>Ir a presupuestos Ciudadanos</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row py-4">
                <div class="col-12">
                    <div class="section-heading heading-center">
                        <h2>Presupuesto Ejecutado por Institución </h2>
                        <h3>Año @Model.MaxAnnioEntidades</h3>
                        <div class="section-subheading">Conozca c&oacute;mo se est&aacute;n ejecutando los recursos en las diversas instituciones del Estado en millones de Lempiras</div>
                    </div>
                </div>
                @if (Model.Entidades != null)
                {
                    @foreach (var item in Model.Entidades)
                    {
                        var porcentaje = "0%";
                        var href_aux = "/PerfilEntidad?codEntidad=" + @item.id;
                        porcentaje = @item.porcentaje.ToString().Replace(',', '.') + "%";

                        <text>
                            <div class="col-lg-3 mb-3">

                                <div class="card h-100 shadow border-0 card-entidad">
                                    <a href=@href_aux>
                                        <div class="card-body">
                                            <div class="card-title-container mh56">
                                                <h3 class="text-center capitalEntidad" id="@item.id">@item.labelGroup</h3>
                                            </div>
                                            <div class="wrap-desc-entidad">
                                                <div class="execute text-center">Ejecutado</div>
                                                <div class="progress">
                                                    <div class="progress-bar" aria-label="Porcentaje Ejecutado" role="progressbar" style="width:@porcentaje" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <div class="executeN text-center">L @String.Format(cultureHN, "{0:n0***REMOVED***", item.avance / 1000000)</div>
                                                <div class="executeV text-center">Millones de Lempiras</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </text>
                ***REMOVED***
            ***REMOVED***
            </div>
            <div class="section-btns justify-content-center py-5">
                <a title="Ver todas la Entidades" href="/Entidades" class="btn btn-cards">
                    <span>Ver todas las instituciones</span>
                    <span class="el-ripple-circle" style="left: 326.5px; top: 313px;"></span>
                </a>
            </div>
        </div>

    </section>



    <section class="section-gray">
        <div class="container">
            <div class="section-heading heading-center">
                <h2>Contratos por Fuente de Datos </h2>
                <h3>Año @Model.MaxAnnioContratos</h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow border-0 h-100">
                        <div class="car-deck">
                            <div class="card-headerdata  text-center">
                                <img class="img-fluid img20" src="../img/logoHaciendaB.png" alt="ir a Secretaria tecnica de planeación" />
                            </div>
                            <div class="car-bodycntos">
                                <div class="car-content">
                                    <div class="info_contra" id="dataSEFIN">
                                        @if (Sefin.Count() > 0)
                                        {
                                            foreach (var item in Sefin)
                                            {
                                                <text>
                                                    <div class="h6">Órdenes de Pago SEFIN</div>
                                                    <div class="h4"> @String.Format(cultureHN, "{0:n0***REMOVED***", @item.NroContratos)</div>
                                                    <div class="h6">Valor</div>
                                                    <div class="h4">
                                                        @item.MonedaContrato
                                                        @if (@item.ValorContratado >= 1000000)
                                                        {
                                                            <text> @String.Format(cultureHN, "{0:n1***REMOVED***", @item.ValorContratado / 1000000) Millones</text>
                                        ***REMOVED***
                                            else
                                            {
                                                <text> @String.Format(cultureHN, "{0:n1***REMOVED***", @item.ValorContratado)</text>
                                        ***REMOVED***
                                                    </div>
                                                    </text>
                                            ***REMOVED***
                                        ***REMOVED***
                                            else
                                            {
                                                <text>
                                                    <div class="h6">Órdenes de Pago SEFIN</div>
                                                    <div class="h4">0</div>
                                                    <div class="h6">Valor</div>
                                                    <div class="h4">- -</div>
                                                </text>

                                        ***REMOVED***
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card shadow border-0 h-100">
                        <div class="car-deck">
                            <div class="card-headerdata  text-center">
                                <img class="img-fluid img20" src="../img/LogoOncaet.png" alt="ir a Secretaria tecnica de planeación" />
                            </div>
                            <div class="car-bodycntos">
                                <div class="car-content">
                                    <div class="info_contra">
                                        <div class="row justify-content-center" id="dataONCAE">
                                            @if (Oncae.Count() > 0)
                                            {
                                                foreach (var item in Oncae)
                                                {
                                                    <text>
                                                        <div class="col-md-4">
                                                            <div class="h6">@item.OrigenInformacion.Replace("Oncae - ", "").Replace("ONCAE - ", "").Replace("Catalogo Electrónico", "Catálogo Electrónico")</div>
                                                            <div class="h4"> @String.Format(cultureHN, "{0:n0***REMOVED***", @item.NroContratos)</div>
                                                            <div class="h6">Valor</div>
                                                            <div class="h4">
                                                                @item.MonedaContrato
                                                                @if (@item.ValorContratado >= 1000000)
                                                                {
                                                                    <text> @String.Format(cultureHN, "{0:n1***REMOVED***", @item.ValorContratado / 1000000) Millones</text>
                                            ***REMOVED***
                                                else
                                                {
                                                    <text> @String.Format(cultureHN, "{0:n1***REMOVED***", @item.ValorContratado)</text>
                                            ***REMOVED***
                                                            </div>
                                                        </div>
                                                        </text>
                                                ***REMOVED***
                                            ***REMOVED***
                                                else
                                                {
                                                    <text>
                                                        <div class="col-md-4">
                                                            <div class="h6">- -</div>
                                                            <div class="h4">0</div>
                                                            <div class="h6">Valor</div>
                                                            <div class="h4">- -</div>
                                                        </div>
                                                    </text>
                                            ***REMOVED***

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="alertCont alert-info" role="alert">Para evitar duplicaciones en los análisis, se recomienda utilizar las publicaciones de manera separada, usando los datos de <strong>ONCAE</strong> para análisis sobre licitaciones, y <strong>SEFIN</strong> para análisis de presupuesto y pago de contratos.</div>
                </div>
                <div class="section-btns justify-content-center py-5">
                    <a title="Ir a Contratación Pública" href="/contratos?moneda=HNL" class="btn btn-cards">
                        <span>Ir a Contratación Pública</span>
                        <span class="el-ripple-circle" style="left: 326.5px; top: 313px;"></span>
                    </a>
                </div>
            </div>

        </div>

    </section>

    <!-- NEWS AND SOCIAL MEDIA-->
    <section class="sectionews">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">
                    <div class="Cnews">
                        <div class="section-heading heading-left">
                            <a href="Noticias"><h2>Noticias</h2></a>
                        </div>
                        <div class="cards-News-container">
                            @foreach (var noticia in await Orchard.GetRecentContentItemsByContentTypeAsync("BlogPost", 4))
                            {

                                <!--NOTICIA 3-->
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4 col-lg-3">
                                            @{
                                                var imgpath = "img/Pic001.jpg";
                                                if (noticia.Content.BlogPost.Image.Paths.Count != 0)
                                                {
                                                    imgpath = noticia.Content.BlogPost.Image.Paths[0];
                                                    <img class="img-fluid" src=@Orchard.AssetUrl((string)imgpath) alt="...">
                                            ***REMOVED***
                                                else
                                                {
                                                    <img class="img-fluid" src=@imgpath alt="...">
                                            ***REMOVED***
                                        ***REMOVED***

                                        </div>
                                        <div class="col-md-8 col-lg-9">
                                            <div class="card-body Noticia">
                                                <a href="/Noticia/@noticia.ContentItemId"><span class="h4">@noticia</span></a>
                                                <p class="card-text">@noticia.Content.BlogPost.Subtitle.Text</p>
                                                <!--<p class="card-text"><small class="text-muted">Creado: @noticia.CreatedUtc</small></p>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        ***REMOVED***
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 section-graysoft">
                    <div class="twitter">
                        <div class="section-heading heading-left">
                            <h2>Sigue la conversaci&oacute;n</h2>
                        </div>
                        <div class="section-twitter">
                            <div class="content-twitter">
                                <a class="twitter-timeline" data-height="770" href="https://twitter.com/GobiernoHN?ref_src=twsrc%5Etfw">Tweets by GobiernoHN</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CONTACT US-->
    <!--HELP CENTER SHORTCUT-->
    <div id="helpCenter"></div>
</main>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
