@inject OrchardCore.IOrchardHelper Orchard
<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
<head>
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <meta name="description" content="" />
    <meta name="author" content="Gobierno de la República de Honduras" />
    <title>HondurasInversiones - Iniciativa de Mapainversiones</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="~/assets/fonts/material-design-icons/material-design-icons.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/assets/fonts/material-design-icons/material-design-icons-outlined.woff2" as="font" type="font/woff2" crossorigin>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/glide.core.min.css" rel="stylesheet" />
    <link href="~/css/basic-skin.css" rel="stylesheet" />
    <link href="~/css/libs.css" rel="stylesheet" />
    <!--CHAT BOT COMPONENT -->
    <link href="~/css/czm-chat-support.css" rel="stylesheet">
    <script src="~/js/jquery/jquery.min.js" type="text/javascript"></script>
</head>

<!body class="d-flex flex-column h-100" @RenderSection("DataBody", required: false)>
    <!-- Begin mobile main menu -->
    <nav class="mob-main-mnu">
        <div class="mob-main-mnu-content">
            @{ var menu = await Orchard.GetContentItemByHandleAsync("alias:second-menu");
    <ul class="mob-main-mnu-list">
        @foreach (var menuitem in menu.Content.MenuItemsListPart.MenuItems)
        {
@if (@menuitem.LinkMenuItemPart.Name != null)
{
    var enlace = @menuitem.LinkMenuItemPart.Url;
    var enlace_aux = "#!";
    if (enlace != "")
    {
        enlace_aux = enlace;
***REMOVED***
<li>

    @if (menuitem.MenuItemsListPart != null)
    {
<a href="#!">@menuitem.LinkMenuItemPart.Name</a>
                        <div class="mmm-btn"><i class="material-icons md-24">expand_more</i></div> var cant = @menuitem.MenuItemsListPart.MenuItems.Count;
                        if (@cant > 0)
                        {
<div class="mob-main-submnu">
    <div class="mob-main-submnu-item">
        <ul>
            @foreach (var submenu in menuitem.MenuItemsListPart.MenuItems)
            {
@if (@submenu.LinkMenuItemPart.Name != null)
{
    var enlace_sub = @submenu.LinkMenuItemPart.Url;
    var enlace_sub_aux = "#!";
    if (enlace_sub != "")
    {
        enlace_sub_aux = enlace_sub;
***REMOVED***
<li>
    <a href="@enlace_sub_aux" data-title="@submenu.LinkMenuItemPart.Name">
        <span>@submenu.LinkMenuItemPart.Name</span>
    </a>
</li>
***REMOVED******REMOVED***
        </ul>
    </div>
</div> ***REMOVED***

***REMOVED***
else
{
<a href="@enlace_aux" data-title="@menuitem.LinkMenuItemPart.Name">
    <span>@menuitem.LinkMenuItemPart.Name</span>
</a>***REMOVED***
</li>
***REMOVED******REMOVED***
    </ul> ***REMOVED***
        </div>
        <div class="mob-main-mnu-footer">
            <p>Con el apoyo del Banco Interamericano de Desarrollo - BID</p>
        </div>
    </nav>
    <!-- End mobile main menu -->
    <!-- Begin header -->
    @Html.Partial("Header")
    <div class="flex-shrink-0">
        <!-- Navigation-->
        <!-- Header-->
        @RenderBody()
    </div>

    <!-- FOOTER -->
    @Html.Partial("Footer")
    <!-- End footer -->

    <script src="~/js/lozad/lozad.min.js" type="text/javascript"></script>
    <script src="~/js/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"></script>
    <script src="~/js/flickity/flickity.pkgd.min.js" type="text/javascript"></script>
    <script src="~/js/flickity/flickity-imagesloaded.js" type="text/javascript"></script>
    <script src="~/js/flickity/bg-lazyload.js" type="text/javascript"></script>
    <script src="~/js/flickity/flickity-fade.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui-range/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.popupoverlay.js" type="text/javascript"></script>
    <!--CHAT BUBBLE	-->
    <script src="~/js/czm-chat-support.min.js"></script>
    <script src="js/custom.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#helpCenter').czmChatSupport({

            /* Button Settings */
            button: {
                position: "right", /* left, right or false. "position:false" does not pin to the left or right */
                style: 3, /* Button style. Number between 1 and 7 */
                src: '<i class="material-icons md-22">help</i>', /* Image, Icon or SVG */
                backgroundColor: "#00A8FF", /* Html color code */
                effect: 1, /* Button effect. Number between 1 and 7 */
                notificationNumber: false, /* Custom text or false. To remove, (notificationNumber:false) */
                speechBubble: false, /* To remove, (speechBubble:false) */
                pulseEffect: false, /* To remove, (pulseEffect:false) */
                text: { /* For Button style larger than 1 */
                    title: "¿Preguntas?", /* Writing is required */
                    description: false, /* To remove, (description:false) */
                    online: false, /* To remove, (online:false) */
                    offline: false /* To remove, (offline:false) */
            ***REMOVED***
          ***REMOVED***

            /* Popup Settings */
            popup: {
                automaticOpen: false, /* true or false (Open popup automatically when the page is loaded) */
                outsideClickClosePopup: true, /* true or false (Clicking anywhere on the page will close the popup) */
                effect: 3, /* Popup opening effect. Number between 1 and 15 */
                header: {
                    backgroundColor: "#00A8FF", /* Html color code */
                    title: "¿Preguntas?", /* Writing is required */
                    description: "Consulte nuestro centro de ayuda para obtener mayor información de esta plataforma" /* To remove, (description:false) */
              ***REMOVED***

                /* Representative Settings */
                persons: [


                    /* [::End Copy::] */
                    /* Copy for more representatives [::Start Copy::] */
                    {
                        avatar: {
                            src: '<i class="material-icons md-22">arrow-right</i>', /* Image, Icon or SVG */
                            backgroundColor: "#00A8FF", /* Html color code */
                            onlineCircle: false /* Avatar online circle. To remove, (onlineCircle:false) */
                      ***REMOVED***
                        text: {
                            title: "Presupuesto Ciudadano", /* Writing is required */
                            description: false, /* To remove, (description:false) */
                            online: false, /* To remove, (online:false) */
                            offline: false /* To remove, (offline:false) */
                      ***REMOVED***
                        link: {
                            desktop: "../ProcesoPresupuesto", /* Writing is required */
                            mobile: false /* If it is hidden desktop link will be valid. To remove, (mobile:false) */
                      ***REMOVED***

                  ***REMOVED***
                    /* [::End Copy::] */
                    /* Copy for more representatives [::Start Copy::] */
                    {
                        avatar: {
                            src: '<i class="material-icons md-22">arrow-right</i>', /* Image, Icon or SVG */
                            backgroundColor: "#00A8FF", /* Html color code */
                            onlineCircle: false /* Avatar online circle. To remove, (onlineCircle:false) */
                      ***REMOVED***
                        text: {
                            title: "Acerca de Honduras Inversiones", /* Writing is required */
                            description: false, /* To remove, (description:false) */
                            online: false, /* To remove, (online:false) */
                            offline: false /* To remove, (offline:false) */
                      ***REMOVED***
                        link: {
                            desktop: "../Acercade", /* Writing is required */
                            mobile: false /* If it is hidden desktop link will be valid. To remove, (mobile:false) */
                      ***REMOVED***

                  ***REMOVED***
                    /* [::End Copy::] */
                    /* Copy for more representatives [::Start Copy::] */
                    {
                        avatar: {
                            src: '<i class="material-icons md-22">arrow-right</i>', /* Image, Icon or SVG */
                            backgroundColor: "#00A8FF", /* Html color code */
                            onlineCircle: false /* Avatar online circle. To remove, (onlineCircle:false) */
                      ***REMOVED***
                        text: {
                            title: "Glosario", /* Writing is required */
                            description: false, /* To remove, (description:false) */
                            online: false, /* To remove, (online:false) */
                            offline: false /* To remove, (offline:false) */
                      ***REMOVED***
                        link: {
                            desktop: "../CentroAyuda?id=1", /* Writing is required */
                            mobile: false /* If it is hidden desktop link will be valid. To remove, (mobile:false) */
                      ***REMOVED***
                  ***REMOVED***
                    /* [::End Copy::] */
                    /* Copy for more representatives [::Start Copy::] */
                    {
                        avatar: {
                            src: '<i class="material-icons md-22">arrow-right</i>', /* Image, Icon or SVG */
                            backgroundColor: "#00A8FF", /* Html color code */
                            onlineCircle: false /* Avatar online circle. To remove, (onlineCircle:false) */
                      ***REMOVED***
                        text: {
                            title: "Preguntas Frecuentes", /* Writing is required */
                            description: false, /* To remove, (description:false) */
                            online: false, /* To remove, (online:false) */
                            offline: false /* To remove, (offline:false) */
                      ***REMOVED***
                        link: {
                            desktop: "../CentroAyuda?id=2", /* Writing is required */
                            mobile: false /* If it is hidden desktop link will be valid. To remove, (mobile:false) */
                      ***REMOVED***
                  ***REMOVED***
                    /* [::End Copy::] */
                    /* Copy for more representatives [::Start Copy::] */
                    {
                        avatar: {
                            src: '<i class="material-icons md-22">arrow-right</i>', /* Image, Icon or SVG */
                            backgroundColor: "#00A8FF", /* Html color code */
                            onlineCircle: false /* Avatar online circle. To remove, (onlineCircle:false) */
                      ***REMOVED***
                        text: {
                            title: "Contáctenos", /* Writing is required */
                            description: false, /* To remove, (description:false) */
                            online: false, /* To remove, (online:false) */
                            offline: false /* To remove, (offline:false) */
                      ***REMOVED***
                        link: {
                            desktop: "../Contactanos", /* Writing is required */
                            mobile: false /* If it is hidden desktop link will be valid. To remove, (mobile:false) */
                      ***REMOVED***

                  ***REMOVED***
                    /* [::End Copy::] */

                ]
          ***REMOVED***


    ***REMOVED***);

    </script>
    @*<script type="text/javascript">

        $(document).ready(function () {
            $("#SearchString").blur(function () {
                $('#contentSearchDiv').attr("class", "form-field");
        ***REMOVED***).focus(function () {
               $('#contentSearchDiv').attr("class", "form-field focus");
        ***REMOVED***);
    ***REMOVED***);

        </script>*@
    @if (IsSectionDefined("scripts"))
    {
        RenderSection("scripts", required: false);
***REMOVED***

</!body>
</html>