@inject OrchardCore.IOrchardHelper Orchard
<section class="section data-source border-t-1" id="data-fuente-cortes">
    <div class="container">
        <div class="fuentes-datos">
            <div class="section-heading heading-center py-4">
                <h2 class="h3">Fuentes de los datos</h2>
            </div>
            <div id="datosAbiertosFooter" class="contenedor-columnas">
               
            </div>
        </div>
    </div>

</section>

@if (ViewData["ShowContacts"] as bool? ?? true)
{
    <section class="section border-t-1">
        <div class="container">
            <div class="col-12 text-center">
                <h2 class="h3">¿No encontraste lo que buscabas?</h2>
                <div class="section-btns justify-content-center py-3">
                    <a aria-label="Contactenos" href="/Contactanos" class="btn btn-primary">
                        <span>Contactános</span>
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
                            <use xlink:href="../../../img/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

        </div>
    </section>

}



<footer class="footer">
    <div class="footer-main">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <!-- Begin company info -->
                    <div class="footer-company-info">
                        <div class="footer-company-top text-center">
                            <a href="/">
                                <img class="img-fluid" src="/img/logoMIV.svg" alt="Logo MapaInversiones">
                            </a>


                        </div>

                    </div>
                    <!-- End company info -->

                </div>
                <div class="col-lg-10">
                    <div class="items">
                        @{
                        var menu = await Orchard.GetContentItemByHandleAsync("alias:second-menu");
                        @foreach (var menuitem in menu.Content.MenuItemsListPart.MenuItems)
                        {

                            @if (@menuitem.LinkMenuItemPart.Name != null)
                            {
                                var enlace = @menuitem.LinkMenuItemPart.Url;
                                var enlace_aux = "#!";
                                if (enlace != "")
                                {
                                    enlace_aux = enlace;
                                }
                            
                                    <div class="item">
                                            <p class="footer-item-heading"><a href="@menuitem.LinkMenuItemPart.Url">@menuitem.LinkMenuItemPart.Name</a></p>
                                        <nav class="footer-nav">
                                            @if (menuitem.MenuItemsListPart != null)
                                            {

                                                var cant = @menuitem.MenuItemsListPart.MenuItems.Count;
                                                <ul class="footer-mnu">
                                                    @foreach (var submenu in menuitem.MenuItemsListPart.MenuItems)
                                                    {
                                                        @if (@submenu.LinkMenuItemPart.Name != null)
                                                        {
                                                            var enlace_sub = @submenu.LinkMenuItemPart.Url;
                                                            var enlace_sub_aux = "#!";
                                                            if (enlace_sub != "")
                                                            {
                                                                enlace_sub_aux = enlace_sub;
                                                            }
                                                            <li>
                                                                <a href="@enlace_sub_aux" class="hover-link" data-title="@submenu.LinkMenuItemPart.Name">
                                                                    <span>@submenu.LinkMenuItemPart.Name</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>

                                            }


                                        </nav>
                                    </div>
                            

                            }

                        }
                        }
                    </div>
                </div>
            </div>

        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-company-links text-lg-center py-5">

                        <a href="/Acercade">¡Pa que veás!</a>
                        <a href="/MarcoLegal">Marco Legal</a>
                        <a href="/Contactanos">Contactános</a>
                        <a href="/PoliticasdePrivacidad">Pol&iacute;tica de Privacidad</a>
                        <a href="/TerminosyCondiciones">T&eacute;rminos y Condiciones</a>
                        
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="logos-entidades">
        <a href="https://www.iadb.org/es/quienes-somos/topicos/modernizacion-del-estado/mapainversiones" target="_blank" rel="noopener">
            <img alt="Logo MapaInversiones" class="img-fluid footerMIV" src="~/img/Footer/logo-mapa-inversiones.svg" />
        </a>
        <a href="https://www.iadb.org/es" target="_blank" rel="noopener">
            <img alt="Logo Banco Inter-Americano de Desarrollo" class="img-fluid footerMIV" src="~/img/Footer/logo-bid.svg" />
        </a>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 justify-content-center">
                    <a href="#" target="_blank" rel="noopener">
                        <img alt="Logo Alcaldía de Cali" class="img-fluid" src="~/img/logoGobierno.png" />
                    </a>                  
                </div>
                <div class="col-lg-5">
                    <span class="h4">
                        Ubicación
                    </span><br />
                    <p>Centro Administrativo Municipal (CAM) Avenida 2 Norte #10 – 70. <br />Santiago de Cali – Valle del Cauca – Colombia.</p>
                    <p>Línea Nacional: 01 8000 222 195</p>
                    <p>Líneas Locales: 195  +57 6028879020</p>

                </div>
                <div class="col-lg-4">
                    <span class="h4">Síguenos en Redes</span>
                    <div class="socialmedia-links">
                        <a href="https://www.instagram.com/gobiernocali?igsh=ZnF1aDQ3MzdlcTc=" target="_blank"><img alt="Logo instagram" class="img-fluid" src="~/img/social1.png" /></a>
                        <a href="https://www.facebook.com/share/pStktag8hDY3CPdM/?mibextid=LQQJ4d" target="_blank"><img alt="Logo Facebook" class="img-fluid" src="~/img/social2.png" /></a>
                        <a href="https://x.com/gobiernocali?s=21&amp;t=6mB6cmumA1mYzkm-d53xww" target="_blank"><img alt="Logo X" class="img-fluid" src="~/img/social3.png" /></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- TOP HEADER -->
    <nav class="header-top">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-md-1 col-lg-1 col-xl-1">
                    <a href="https://www.gov.co/home/">
                        <img class="img-fluid" src="~/img/govco-logo.png" alt="Logotipo de Gobierno de Colombia">
                    </a>
                </div>
                <div class="col-auto">
                    <p>Todos los derechos Reservados 2025</p>
                </div>

            </div>

        </div>
    </nav>
    <!-- End header top -->

</footer>

<script src="~/js/DatosAbiertos_aux.js"></script>
