@inject OrchardCore.IOrchardHelper Orchard
<header id="header" class="header">
    <!-- TOP HEADER -->
    <nav class="header-top">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-md-1 col-lg-1 col-xl-1">
                    <a href="https://www.gov.co" target="_blank">
                        <img class="img-fluid" src="~/img/govco-logo.png" alt="Logotipo de Gobierno de Colombia">
                    </a>
                </div>
                <div class="col-auto">
                    <div class="header-top-links">
                        
                        <!-- secondary pages -->
                        <ul class="nav">

                            <li class="nav-item">
                                <a href="/Acercade" title="¿Qué es ¡Pa' que Veás!?">
                                    ¿Qué es ¡Pa' que Veás!?
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/CentroAyuda" title="CentroAyuda">
                                    Resolvé tus dudas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/MarcoLegal" title="Marco Legal">
                                    Marco Legal
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Contactanos" title="Contactános">
                                    Contactános
                                </a>
                            </li>
                          
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </nav>
    <!-- End header top -->
    <!-- Begin header fixed -->

    <nav class="header-fixed">
        <div class="wrap-head">
            <div class="container-fluid">
               <div class="row flex-nowrap align-items-center justify-content-between main-head-section">
                <div class="col-auto d-block d-lg-none header-fixed-col">
                    <div class="main-mnu-btn">
                        <span class="bar bar-1"></span>
                        <span class="bar bar-2"></span>
                        <span class="bar bar-3"></span>
                        <span class="bar bar-4"></span>
                    </div>
                </div>
                    <div class="main-header col-auto header-fixed-col">
                    <!-- Begin logo -->
                    <div class="logoHinv">
                            <a href="/" target="_blank" rel="noopener" title="Volver al inicio">
                                <img class="img-fluid" src="~/img/logoGobierno.png" alt="Escudo Alcaldia de Cali">
                        </a>
                    </div>
                    <div class="logoIntro">
                            <a href="/" class="logo-ico-widht-text" title="¡Pa' que Veás!">
                                <img class="img-fluid" src="~/img/logoMIV.svg" alt="Logo ¡Pa' que Veás!">
                        </a>
                    </div>

                </div>
                <div class="col-auto col-lg-7">
                        <div class="header-search d-sm-block d-lg-none d-xl-none d-xxl-none">
                            <div class="header-action-icon header-search-ico">
                                <a role="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="material-icons md-22 header-search-ico-search">search</i></a>
                                
                                <i class="material-icons md-22 header-search-ico-close">close</i>
                            </div>
                        </div>
                        <div class="d-none d-lg-block">
                        <div class="row">
                            
                            <div class="col-lg-12">

                                @using (Html.BeginForm("BusquedaResultados", "Home", FormMethod.Get, new { @class = "search-page-form" }))
                                {
                                    <div class="form-field whiteSearch mb-4" id="contentSearchDiv">
                                        <label for="SearchString" class="form-field-label"> <b>Busca información específica:</b><br /> Contratos, Contratistas y Entes gestores, por ejemplo: Secretaría de educación</label>
                                        <button type="submit" class="buttonsearBTN" title="Click para Iniciar Buqueda">
                                            <i class="material-icons md-22">search</i> <span class="">Buscar</span>
                                        </button>
                                        <input type="search" class="form-field-input" name="SearchString" id="SearchString" value=""
                                               autocomplete="off" required="required">
                                        <!--id="page-field-search"-->
                                    </div>

                                }


                                <div id="search-home" class="search-body">
                                    <div id="divNoEncontrado" class="no-search-results" style="display: none;">
                                        No se han encontrado resultados
                                    </div>
                                    <div class="search-results objHidden" id="divResultados">
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

            </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg col-auto col-static header-fixed-col main-navigation-bar">
                        <div class="row flex-nowrap align-items-center justify-content-center">
                            <div class="col-auto header-fixed-col d-none d-lg-block col-static">
                                <!-- Begin main menu -->
                                <nav class="main-mnu">
                                    @{
                                        var menu = await Orchard.GetContentItemByHandleAsync("alias:second-menu");
                                        <ul class="main-mnu-list">
                                            @foreach (var menuitem in menu.Content.MenuItemsListPart.MenuItems)
                                            {
                                                @if (@menuitem.LinkMenuItemPart.Name != null)
                                                {
                                                    var enlace = @menuitem.LinkMenuItemPart.Url;
                                                    var nameEnlace = @menuitem.LinkMenuItemPart.Name.Value;
                                                    var enlace_aux = "#!";
                                                    if (enlace != "")
                                                    {
                                                        enlace_aux = enlace;
                                                    }
                                                    var claseLi = "main-mnu-item-has-child";
                                                    @if (ViewBag != null && ViewBag.ruta != null && ViewBag.ruta == @nameEnlace)
                                                    {
                                                        claseLi = "main-mnu-item-has-child-activeTab";
                                                    }

                                                    <li class=@claseLi>

                                                        @if (menuitem.MenuItemsListPart != null)
                                                        {
                                                            <a href="@enlace_aux" data-title="@menuitem.LinkMenuItemPart.Name">
                                                                <span>@menuitem.LinkMenuItemPart.Name</span>
                                                                <i class="material-icons">expand_more</i>
                                                            </a>
                                                            var cant = @menuitem.MenuItemsListPart.MenuItems.Count;
                                                            if (@cant > 0)
                                                            {
                                                                <ul>
                                                                    @foreach (var submenu in menuitem.MenuItemsListPart.MenuItems)
                                                                    {
                                                                        @if (@submenu.LinkMenuItemPart.Name != null)
                                                                        {
                                                                            var enlace_sub = @submenu.LinkMenuItemPart.Url;
                                                                            var enlace_sub_aux = "#!";
                                                                            if (enlace_sub != "")
                                                                            {
                                                                                enlace_sub_aux = enlace_sub;
                                                                            }
                                                                            <li>
                                                                                <a href="@enlace_sub_aux" data-title="@submenu.LinkMenuItemPart.Name">
                                                                                    <span>@submenu.LinkMenuItemPart.Name</span>
                                                                                </a>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <a href="@enlace_aux" data-title="@menuitem.LinkMenuItemPart.Name">
                                                                <span>@menuitem.LinkMenuItemPart.Name</span>
                                                            </a>

                                                        }
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    }
                                </nav>
                                <!-- End main menu -->
                            </div>
                            <div class="col-auto header-fixed-col col-static">
                                <!-- Begin header actions -->
                                <ul class="header-actions">
                                    <!-- Begin header search -->
                                    <li>
                                        <div class="header-search">
                                            <div class="header-action-icon header-search-ico">
                                                <i class="material-icons md-22 header-search-ico-search">search</i>
                                                <i class="material-icons md-22 header-search-ico-close">close</i>
                                            </div>
                                            <form action="#!" method="post" class="header-search-form">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-field">
                                                                <label for="field-search" class="form-field-label">Search...</label>
                                                                <input type="search" class="form-field-input" name="Search" value="" autocomplete="off" required="required" id="field-search">
                                                                <button type="submit" class="header-search-btn"><i class="material-icons md-22">search</i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </li><!-- End header search -->
                                    <!-- Begin header navbar -->
                                    <li class="d-block d-lg-none">
                                        <div class="header-navbar">
                                            <div class="header-navbar-btn">
                                                <i class="material-icons md-24">more_vert</i>
                                            </div>
                                            <ul class="header-navbar-content">

                                                <li>
                                                    <a href="#!" title="Qué es ¡Pa' que Veás!">
                                                        ¿Qué es ¡Pa' que Veás!?
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" title="LinkedIn">
                                                        Help center
                                                    </a>
                                                </li>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <text>
                                                    <li>
                                                        <a href="/Users/LogOff" title="Cerrar sesión">
                                                            Log out
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" title="@User.Identity.Name">
                                                                @User.Identity.Name
                                                        </a>
                                                    </li>
                                                    </text>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="/Login" title="Log in">
                                                            Log in
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/Register" title="Create an account">
                                                            New users
                                                        </a>
                                                    </li>
                                                }

                                            </ul>
                                        </div>

                                    </li><!-- End header navbar -->
                                </ul><!-- End header actions -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End header fixed -->
    <!-- modal search bar mobile -->
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-btn-close">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-header">
                    <h2 class="modal-title text-center" id="searchTitle">Encuentra información clave sobre proyectos, contratos, contratistas y Entes gestores</h2>
                    
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">

                        @using (Html.BeginForm("BusquedaResultados", "Home", FormMethod.Get, new { @class = "search-page-form" }))
                        {
                            <div class="form-field whiteSearch mb-4" id="contentSearchDiv">
                                <label for="SearchString" class="form-field-label"> Digita el término de tu búsqueda</label>
                                <button type="submit" class="buttonsearBTN" title="Click para Iniciar Buqueda">
                                    <i class="material-icons md-22">search</i>
                                </button>
                                <input type="search" class="form-field-input" name="SearchString" id="SearchString" value=""
                                       autocomplete="off" required="required">
                                <!--id="page-field-search"-->
                            </div>

                        }


                        <div id="search-home" class="search-body">
                            <div id="divNoEncontrado" class="no-search-results" style="display: none;">
                                No se han encontrado resultados
                            </div>
                            <div class="search-results objHidden" id="divResultados">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Google tag (gtag.js) -->
    

    <script src="https://www.googletagmanager.com/gtag/js?id=G-Q4H714KM4Z" integrity="sha384-VNIXgAfnXrBQKU+BNlPdO82beO9YSwERuCf5149ppVS/q3VOxeG6Qm4ylAz2Mnnr" crossorigin="anonymous"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Q4H714KM4Z');
    </script>
</header><!-- End header -->
