@model PlataformaTransparencia.Modelos.ModelPresupuestoData
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
***REMOVED***
@{
    var etiquetas = await Orchard.GetContentItemByHandleAsync("alias:Etiquetas");
    var LabelDistPresupuesto = "";
    var TituloDistPresupuesto = "";
    var LabelAvanceSectores = "";
    var TituloAvanceSectores = "";
    var LabelGrupoGasto = "";
    var TituloGrupoGasto = "";
    var LabelDistObjetosGasto = "";
    var TituloDistObjetosGasto = "";
    var LabelVersionesPresupuesto = "";
    var TituloVersionesPresupuesto = "";
    var LabelFuncionesGobPresupuesto = "";
    var TituloFuncionesGobPresupuesto = "";


***REMOVED***
@foreach (var etiqueta in etiquetas.Content.BagPart.ContentItems)
{
    if (@etiqueta.AliasPart.Alias == "DistribucionPresupuesto")
    {
        LabelDistPresupuesto = @etiqueta.HtmlBodyPart.Html;
        TituloDistPresupuesto = @etiqueta.TitlePart.Title;
***REMOVED***
    else if (@etiqueta.AliasPart.Alias == "AvanceSectores")
    {
        LabelAvanceSectores = @etiqueta.HtmlBodyPart.Html;
        TituloAvanceSectores = @etiqueta.TitlePart.Title;
***REMOVED***
    else if (@etiqueta.AliasPart.Alias == "GrupoGasto")
    {
        LabelGrupoGasto = @etiqueta.HtmlBodyPart.Html;
        TituloGrupoGasto = @etiqueta.TitlePart.Title;
***REMOVED***
    else if (@etiqueta.AliasPart.Alias == "DistObjetosGasto")
    {
        LabelDistObjetosGasto = @etiqueta.HtmlBodyPart.Html;
        TituloDistObjetosGasto = @etiqueta.TitlePart.Title;
***REMOVED***
    else if (@etiqueta.AliasPart.Alias == "VersionesPresupuesto")
    {
        LabelVersionesPresupuesto = @etiqueta.HtmlBodyPart.Html;
        TituloVersionesPresupuesto = @etiqueta.TitlePart.Title;
***REMOVED***
    else if (@etiqueta.AliasPart.Alias == "FuncionesGobPresupuesto")
    {
        LabelFuncionesGobPresupuesto = @etiqueta.HtmlBodyPart.Html;
        TituloFuncionesGobPresupuesto = @etiqueta.TitlePart.Title;
***REMOVED***
***REMOVED***

<section class="banner-main">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li><a href="#!">Presupuestos</a><i class="material-icons md-18">chevron_right</i></li>
                            <li>Presupuestos de la República</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h1>Presupuestos de la República</h1>
                    </div>
                    <div class="banner-main-desc">
                        <p>
                            El Presupuesto General de la República es el conjunto de ingresos y gastos proyectados por el Gobierno en un año determinado. El ambito de cobertura de la informacion presupuestaria publicada incluye el sector de Gobierno Central y las Instituciones Descentralizadas Empresariales ( Incisos 1, 2 y 3, Art. 2 LOP)
                        </p>

                    </div>

                </div>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <!--YEAR FILTER-->
                <div class="form-group subtitle">
                    <label for="input-select">Selecciona un año</label>
                    <select class="form-select" aria-label="Selecciona un año:" id="annioPresupuesto">
                        @foreach (var item in Model.periodos)
                        {
                            <text>
                                <option value="@item">@item</option>
                            </text>

                    ***REMOVED***
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!--NAVIGATION ON PAGE-->
    <div class="row navs-shortcuts">

        <div class="" id="navs-header">
            <a class="btn-section" href="#ConsolidadoPeriodos">
                <span class="ic-shortcut"><i class="material-icons md-24">leaderboard</i></span>
                <span class="text-btn">Comparativo</span>
            </a>
            <a class="btn-section" href="#Etapas">
                <span class="ic-shortcut"><i class="material-icons md-24">leaderboard</i></span>
                <span class="text-btn">Comparativo Etapas</span>
            </a>
            <a class="btn-section" href="#Funciones">
                <span class="ic-shortcut"><i class="material-icons md-24">leaderboard</i></span>
                <span class="text-btn">Comparativo Funciones</span>
            </a>
            <a class="btn-section" href="#GrupoGasto">
                <span class="ic-shortcut"><i class="material-icons md-24">payments</i></span>
                <span class="text-btn">Grupo de Gasto</span>
            </a>
            <a class="btn-section" href="#Distribucion">
                <span class="ic-shortcut"><i class="material-icons md-24">calendar_view_month</i></span>
                <span class="text-btn">Distribución</span>
            </a>
            <a class="btn-section" href="#Ejecucion">
                <span class="ic-shortcut"><i class="material-icons md-24">donut_small</i></span>
                <span class="text-btn">Ejecución</span>
            </a>

        </div>
    </div>
</section>
<section class="section" id="ConsolidadoPeriodos">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Comparación de presupuesto aprobado por años</h2>
        </div>
        <div class="row" id="divDatosConsolidado">
        </div>
    </div>
</section>

<section class="section-gray" id="Etapas">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h2>@TituloVersionesPresupuesto</h2>
                </div>
                <div class="section-body">
                    <p>@Html.Raw(LabelVersionesPresupuesto)</p>
                </div>
                <div class="form-group">
                    <label for="versionBase">Versión Base</label>
                    <select class="form-select selVersiones" aria-label="Selecciona una versión:" id="versionBase">
                        @foreach (var item in Model.versiones)
                        {
                            <text>
                                <option value="@item.CodigoVersion">@item.NombreVersion</option>
                            </text>

                    ***REMOVED***
                    </select>
                </div>
                <div class="form-group">
                    <label for="versionBase">Versión Comparacion</label>
                    <select class="form-select selVersiones" aria-label="Selecciona una versión:" id="versionComparacion">
                        @foreach (var item in Model.versiones)
                        {
                            <text>
                                <option value="@item.CodigoVersion">@item.NombreVersion</option>
                            </text>

                    ***REMOVED***
                    </select>
                </div>
            </div>
            <div class="col-lg-8">
                <!--<div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="pBotonera">
                        <span class="btn badge rounded-pill bg-active" id="topGruposVersiones" cons="0">Top Grupos </span>
                    </div>
                </div>-->
                <div class="pChart">
                    <div width="100%" height="500px" id="divGraphVersiones">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="Funciones">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h2>@TituloFuncionesGobPresupuesto</h2>
                    <h3 class="qGasto">¿Para qué se gasta?</h3>
                </div>
                <div class="section-body">
                    <p>@Html.Raw(LabelFuncionesGobPresupuesto)</p>
                </div>
                <div class="form-group">
                    <div class="form-group subtitle">
                        <label style="color:black;float:left;">Selecionar Año </label><br/>
                    </div>
                </div>
                <div class="d-flex">
                    @foreach (var item in Model.periodos)
                    {
                        var nombre = "func_" + @item;
                        <text>
                            <div class="p-2">
                                <input class="chk_gasto_func" type="checkbox" id="chk_@nombre" name="chk_gasto_periodo_funciones" value="@item">
                                <label for=@nombre>@item</label>
                            </div>

                        </text>

                ***REMOVED***<br />
                </div>
                <!--funcionesCombo-->
                <div class="form-group">
                    <div class="form-group subtitle">
                        <label for="funcionesId" style="color:black;float:left;">Seleccionar Funciones de Gobierno</label>
                        <select class="form-select selectFuncion" aria-label="Selecciona una función:" id="funcionesId">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group subtitle">
                        <select class="form-select selectFuncion" aria-label="Selecciona una función:" id="funcionesId_2">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group subtitle">
                        <select class="form-select selectFuncion" aria-label="Selecciona una función:" id="funcionesId_3">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group subtitle">
                        <select class="form-select selectFuncion" aria-label="Selecciona una función:" id="funcionesId_4">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group subtitle">
                        <select class="form-select selectFuncion" aria-label="Selecciona una función:" id="funcionesId_5">
                        </select>
                    </div>
                </div>
                @*<input type="button" class="btn btn-primary" value="Comparar" id="btnCompararFunc" disabled="disabled">*@
            </div>
            

            <div class="col-lg-8">
                <!--<div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="pBotonera">
                        <span class="btn badge rounded-pill bg-active" id="topGruposFuncionesGob" cons="0">Top Funciones </span>
                    </div>
                </div>-->
                <div class="pChart">
                    <div width="100%" height="100%" id="divGraphFuncionesGob"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-gray" id="GrupoGasto">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h2>@TituloGrupoGasto</h2>
                    <h3 class="qGasto">¿En qué se gasta?</h3>
                </div>
                <div class="section-body">
                    <p>@Html.Raw(LabelGrupoGasto)</p>
                </div>
                <div class="d-flex">
                    @foreach (var item in Model.periodos)
                    {
                        var nombre = "gasto_" + @item;
                        <text>
                            <div class="p-2">
                                <input class="chk_gasto" type="checkbox" id="chk_@nombre" name="chk_gasto_periodo" value="@item">
                                <label for=@nombre>@item</label>
                            </div>

                        </text>

                ***REMOVED***<br />
                </div>
                <div id="divGastoCombos">

                </div>
            </div>
            <div class="col-lg-8">
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <!--<div class="pBotonera">
                        <span class="btn badge rounded-pill bg-active" id="topGruposG" cons="0">Top Grupos </span>
                        @*<span class="btn badge rounded-pill bg-noactive" id="todosGruposG" cons="1">Todos los Grupos </span>*@
                    </div>-->
                </div>
                <div class="pChart">
                    <div width="100%" height="500px" id="divGraphGrupoGasto"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="Distribucion">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h2>@TituloDistPresupuesto</h2>
                    <h3 class="qGasto">¿Quién gasta?</h3>
                </div>
                <div class="section-body">
                    <!--<h4>El presupuesto del gobierno de Honduras en el <span id="annioPresupuestoText"></span></h4>-->
                    <p>@Html.Raw(@LabelDistPresupuesto)</p>
                    <div class="wrap-bigData">
                        <h5>Presupuesto Vigente</h5>
                        <h3 id="totalPresupuestoValue"></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" id="divContenedorGrafica1" style="padding-right: 10px; padding-left: 5px; padding-top: 5px;">
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="pBotonera">
                        <span class="btn badge rounded-pill bg-active" id="todosNivel" cons="0">Por Nivel</span>
                        <!--<span class="btn badge rounded-pill bg-noactive" id="todosOrganismo" cons="1">Por Organismo</span>-->

                    </div>
                </div>
                <div class="pChart">
                    <div id="divGraphRecursosObj"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-gray" id="Ejecucion">
    <div class="container">
        <div class="section-heading text-center">
            <h2>@TituloDistObjetosGasto</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-body">
                    <p>@Html.Raw(LabelDistObjetosGasto)</p>
                </div>
            </div>
            <!-- VIEW OPTIONS-->
            <div class="col-md-10 col-md-offset-1">
                <div class="Options">
                    <div class="switchTable" id="filtro_iconos" opc="">
                        <p class="vis-none">Tipo de visualización</p>
                        <a id="enlacelistado_gasto" codigo="gasto" role="button" class="tipo_grafica btn activo">
                            <i class="material-icons md-24">dashboard</i> <span class="txt-bold">Por Grupo de Gasto</span>
                        </a>
                        <a id="enlacelistado_entidad" codigo="entidad" role="button" class="tipo_grafica btn ">
                            <i class="material-icons md-24">location_city</i> <span class="txt-bold">Por Institución</span>
                        </a>

                    </div>

                </div>

            </div>
            <div id="divListadoRecursosObje">
                <!--TABLA COMPARATIVA-->
                <input type="hidden" id="migapanlistado" value="" />
                <div class="comparativeTable" id="divListado">

                </div>

            </div>
        </div>
    </div>
</section>
<!--RELATED INFO-->
<section class="relatedInfo">
    <div class="container">
        <!--LINKS OTRAS SECCIONES-->
        <div class="row py-5">
            <!--LEFT COLUMN-->
            <div class="col-lg-8">
                <!--LINKS seccion infografia planificacion-->
                <h2>Conoce</h2>
                <div class="wrap-cta">
                    
                    <a href="/ProcesoPresupuesto" target="_blank" class="py-5 mb-5 px-0">
                        <div class="h4">Presupuestos Ciudadanos<i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div><br />
                <h2>Explora</h2>
                <div class="wrap-cta">
                    <a href="../Entidades" class="py-5 mb-5 px-0">
                        <div class="h4">Ir a Instituciones <i class="material-icons md-18">arrow_forward</i> </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="wrap-cta">
                    <p class="card-title mb-4">Información suministrada por:</p>
                    <a href="https://www.sefin.gob.hn/" target="_blank">
                        <img class="img-fluid" src="../img/logoHaciendaB.png" alt="ir a SEFIN" />
                </div>

            </div>
        </div>

    </div>
</section>

<!--HELP CENTER SHORTCUT-->
<div id="helpCenter"></div>



<script>
    window.onscroll = function () { myFunction() ***REMOVED***;

    var header = document.getElementById("navs-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("bg-white");
    ***REMOVED*** else {
            header.classList.remove("sticky");
            header.classList.remove("bg-white");
    ***REMOVED***
***REMOVED***
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/d3plus@2"></script>
<script src="js/presupuesto_aux.js"></script>
@*<script src="js/filtro_aux.js"></script>*@

