@model PlataformaTransparencia.Modelos.ModelPresupuestoData
@inject OrchardCore.IOrchardHelper Orchard
@using PlataformaTransparencia.Negocios.Comunes
@inject ICdnService Cdn

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var etiquetas = await Orchard.GetContentItemByHandleAsync("alias:Etiquetas");
    var LabelDistPresupuesto = "";
    var TituloDistPresupuesto = "";
    var LabelAvanceSectores = "";
    var TituloAvanceSectores = "";
    var LabelGrupoGasto = "";
    var TituloGrupoGasto = "";
    var LabelDistObjetosGasto = "";
    var TituloDistObjetosGasto = "";
    var LabelVersionesPresupuesto = "";
    var TituloVersionesPresupuesto = "";
    var LabelFuncionesGobPresupuesto = "";
    var TituloFuncionesGobPresupuesto = "";
    var LabelDistSankeySectores = "";
    var TituloDistSankeySectores = "";

}
@foreach (var etiqueta in etiquetas.Content.BagPart.ContentItems)
{
    if (@etiqueta.AliasPart.Alias == "DistribucionPresupuesto")
    {
        LabelDistPresupuesto = @etiqueta.HtmlBodyPart.Html;
        TituloDistPresupuesto = @etiqueta.TitlePart.Title;
    }
    else if (@etiqueta.AliasPart.Alias == "AvanceSectores")
    {
        LabelAvanceSectores = @etiqueta.HtmlBodyPart.Html;
        TituloAvanceSectores = @etiqueta.TitlePart.Title;
    }
    else if (@etiqueta.AliasPart.Alias == "GrupoGasto")
    {
        LabelGrupoGasto = @etiqueta.HtmlBodyPart.Html;
        TituloGrupoGasto = @etiqueta.TitlePart.Title;
    }
    else if (@etiqueta.AliasPart.Alias == "DistObjetosGasto")
    {
        LabelDistObjetosGasto = @etiqueta.HtmlBodyPart.Html;
        TituloDistObjetosGasto = @etiqueta.TitlePart.Title;
    }
    else if (@etiqueta.AliasPart.Alias == "VersionesPresupuesto")
    {
        LabelVersionesPresupuesto = @etiqueta.HtmlBodyPart.Html;
        TituloVersionesPresupuesto = @etiqueta.TitlePart.Title;
    }
    else if (@etiqueta.AliasPart.Alias == "FuncionesGobPresupuesto")
    {
        LabelFuncionesGobPresupuesto = @etiqueta.HtmlBodyPart.Html;
        TituloFuncionesGobPresupuesto = @etiqueta.TitlePart.Title;
    }
    else if (@etiqueta.AliasPart.Alias == "DistSankeySectores")
    {
        LabelDistSankeySectores = @etiqueta.HtmlBodyPart.Html;
        TituloDistSankeySectores = @etiqueta.TitlePart.Title;
    }
}
<head>
    <style>
        .node rect {
            cursor: pointer;
            fill-opacity: .8;
            shape-rendering: crispEdges;
        }

            .node rect:hover {
                fill: #CF2E2E
            }
        .node text {
            pointer-events: none;
        }

        .link {
            fill: none;
            stroke: #000;
            stroke-opacity: .1;
        }

            .link:hover {
                stroke-opacity: .2;
            }

        .arc text {
            font: 12px sans-serif;
            text-anchor: middle;
            font-weight: bold;
        }

        .arc path {
            stroke: #fff;
        }

        .toolTip {
            position: absolute;
            display: none;
            width: auto;
            height: auto;
            background: none repeat scroll 0 0 white;
            border: 0 none;
            border-radius: 8px 8px 8px 8px;
            box-shadow: -3px 3px 15px #888888;
            color: red;
            font: 12px sans-serif;
            padding: 5px;
            text-align: center;
        }

        .seccion-breadcrumb {
            display: none;
        }

        .d3plus-Axis text {
            font-size: 11px;
        }

        #divGraphPerPlan .d3plus-viz-back text {
            font-size: 20px !important;
            font-weight: 700 !important;
            fill: #000000 !important;
        }

        #divGraphPerInstitucion .d3plus-viz-back text {
            font-size: 20px !important;
            font-weight: 700 !important;
            fill: #000000 !important;
        }

        #divGraphBarChartGastoEntidades .d3plus-Bar-text .d3plus-textBox text {
            font-size: 11px !important;
            /*font-weight: bold !important;*/
        }

    </style>
</head>
<section class="banner-main">
    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Presupuesto General de Bogotá</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->

        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info">
                    <div class="banner-mai-title">
                        <h1>Presupuesto General de Bogotá</h1>
                    </div>
                    <div class="banner-main-desc">
                        <p>El Presupuesto General del Distrito incluye el Presupuesto Anual del Distrito Capital, Presupuesto de las empresas y Presupuesto de los fondos de desarrollo local.</p>
                    </div>
                </div>
            </div>

        </div>

        <!--SELECT AÑO-->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <!--YEAR FILTER-->
                <div class="form-group mb-5">
                    <label for="input-select">Selecciona un año</label>
                    <select class="form-select" aria-label="Selecciona un año:" id="annioPresupuesto">
                        @foreach (var item in Model.periodos)
                        {
                            <text>
                            <option value="@item.id">@item.id</option>
                            </text>

                        }
                    </select>
                </div>
            </div>
        </div>

    </div> 
</section>
<!--TABS-->
    <div class="tabs-content">
        <div class="tabs goals">
        <ul class="tabs-nav justify-content-center soft-bg-4">
            <li class="enlace_nivel_administracion active">
                <div class="goal-name h5" tipo="general">Presupuesto Anual</div>
            </li>
            <li class="enlace_nivel_administracion">
                <div class="goal-name h5" tipo="empresas">Presupuesto de las Empresas</div>
            </li>
            <li class="enlace_nivel_administracion">
                <div class="goal-name h5" tipo="fondos">Presupuesto de los Fondos de Desarrollo Local</div>
            </li>
        </ul>
        <div class="container">
            <div class="tabs-container">
                <div class="tabs-item content active" id="divPresupuestoTotal">
                    <div class="containerOld">
                            <div class="section-heading heading-left">
                                <h2>
                                Presupuesto Anual <span class="lblAnyoSelected"></span>
                                </h2>
                                <div class="section-subheading" id="lblTextoTotalGeneral">
                                    <p>El Presupuesto Anual del Distrito Capital comprende el presupuesto del Concejo de Bogotá, la Contraloría de Bogotá, La Personería de Bogotá, la Administración Central Distrital y los Establecimientos Públicos Distritales y el Ente Autónomo universitario.</p>
                                </div>

                            </div>
                            <div class="row align-items-center">
                                <div class="col-lg-7">
                                    <div class="Section-infograph mb-4">
                                        <div class="main-icon-value">
                                            <img src="~/img/svg-icons/ICO-Org-009.svg" class="img-fluid" alt="Icono decorativo Presupuesto" />
                                        </div>
                                        <div class="cont-pres-infograph">
                                            <span class="h4 d-block mb-3">Presupuesto total vigente </span>
                                            <div class="h2 mb-0">
                                                <span class="big-number valor-vigente" tipo="general"></span>
                                                <span class="lblEtiquetaMoneda"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-5">

                                    <div class="card white-card comprometido">
                                        <div class="card-body">
                                            <div class="main-icon-value">
                                                <div class="ic-wrap">
                                                    <img src="~/img/ic-comprometido.svg" class="img-fluid" alt="Icono decorativo Presupuesto" />
                                                </div>
                                                <div class="desc-data">
                                                <div class="executeV">
                                                    Presupuesto <span class="text-bold">COMPROMETIDO</span>
                                                    <a href="#popup1" class="p-2 popup1_open ic-ttip">
                                                        <span class="material-icons md-32">
                                                            info
                                                        </span>
                                                    </a>
                                                </div>
                                                    <div class="presupuestoN valor-comprometido" tipo="general"></div>

                                                    <small>Ejecución</small>
                                                    <div class="percentage">
                                                        <div class="completed comprometido" tipo="general"></div>
                                                        <div class="indicatorValues">
                                                        <span class="startPoint text-center porcentaje-comprometido" tipo="general"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card white-card girado">
                                        <div class="card-body">
                                            <div class="main-icon-value">
                                                <div class="ic-wrap">
                                                    <img src="~/img/ic-girado.svg" class="img-fluid" alt="Icono decorativo Presupuesto" />
                                                </div>
                                                <div class="desc-data">
                                                <div class="executeV">
                                                    Presupuesto <span class="text-bold">GIRADO</span>
                                                    <a href="#popup2" class="p-2 popup2_open ic-ttip">
                                                        <span class="material-icons md-32">
                                                            info
                                                        </span>
                                                    </a>
                                                </div>
                                                    <div class="presupuestoN valor-girado" tipo="general"></div>
                                                    <small>Porcentaje de ejecución</small>
                                                    <div class="percentage">
                                                    <div class="completed girado" tipo="general"></div>
                                                        <div class="indicatorValues">
                                                        <span class="startPoint text-center porcentaje-girado" tipo="general"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    

                </div>
                <div class="tabs-item content" id="divPresupuestoEmpresas">
                    <div class="containerOld">
                        <div class="section-heading heading-left">
                            <h2>
                               Presupuesto de las empresas <span class="lblAnyoSelected"></span>
                            </h2>
                            <div class="section-subheading" id="lblTextoTotalEmpresas">
                                <p>El presupuesto de las empresas distritales es el plan financiero anual que organiza los ingresos y gastos de las empresas públicas de Bogotá, garantizando que puedan operar, invertir y cumplir sus funciones sociales, en coherencia con el presupuesto global del Distrito y el Plan de Desarrollo.</p>
                            </div>

                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <div class="Section-infograph mb-4">
                                    <div class="main-icon-value">
                                        <img src="~/img/svg-icons/ICO-Org-009.svg" class="img-fluid" alt="Icono decorativo Presupuesto" />
                                    </div>
                                    <div class="cont-pres-infograph">
                                        <span class="h4 d-block mb-3">Presupuesto total vigente </span>
                                        <div class="h2 mb-0">
                                            <span class="big-number valor-vigente" tipo="empresas"></span>
                                            <span class="lblEtiquetaMoneda"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-5">

                                <div class="card white-card comprometido">
                                    <div class="card-body">
                                        <div class="main-icon-value">
                                            <div class="ic-wrap">
                                                <img src="~/img/ic-comprometido.svg" class="img-fluid" alt="Icono decorativo Presupuesto" />
                                            </div>
                                            <div class="desc-data">
                                                <div class="executeV">Presupuesto <span class="text-bold">COMPROMETIDO</span>
                                                    <a href="#popup1" class="p-2 popup1_open ic-ttip">
                                                        <span class="material-icons md-32">
                                                            info
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="presupuestoN valor-comprometido" tipo="empresas"></div>
                                                <small>Ejecución</small>
                                                <div class="percentage">
                                                    <div class="completed comprometido" tipo="empresas"></div>
                                                    <div class="indicatorValues">
                                                        <span class="startPoint text-center porcentaje-comprometido" tipo="empresas"></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card white-card girado">
                                    <div class="card-body">
                                        <div class="main-icon-value">
                                            <div class="ic-wrap">
                                                <img src="~/img/ic-girado.svg" class="img-fluid" alt="Icono decorativo Presupuesto" />
                                            </div>
                                            <div class="desc-data">
                                                <div class="executeV">Presupuesto <span class="text-bold">GIRADO</span>
                                                    <a href="#popup2" class="p-2 popup2_open ic-ttip">
                                                        <span class="material-icons md-32">
                                                            info
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="presupuestoN valor-girado" tipo="empresas"></div>
                                                <small>Ejecución</small>
                                                <div class="percentage">
                                                    <div class="completed girado" tipo="empresas"></div>
                                                    <div class="indicatorValues">
                                                        <span class="startPoint text-center porcentaje-girado" tipo="empresas"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-item content" id="divPresupuestoFondos">
                    <div class="containerOld">
                        <div class="section-heading heading-left">
                            <h2>
                                Presupuesto de los fondos de desarrollo local <span class="lblAnyoSelected"></span>
                            </h2>
                            <div class="section-subheading" id="lblTextoTotalFondos">
                                <p>Presupuesto asignado a las 20 localidades para gestionar recursos públicos y atender las necesidades específicas de su territorio, financiar proyectos de inversión social, infraestructura y servicios que mejoren la calidad de vida de los habitantes, promoviendo la participación ciudadana y la equidad territorial.</p>
                            </div>

                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <div class="Section-infograph mb-4">
                                    <div class="main-icon-value">
                                        <img src="~/img/svg-icons/ICO-Org-009.svg" class="img-fluid" alt="Icono decorativo Presupuesto" />
                                    </div>
                                    <div class="cont-pres-infograph">
                                        <span class="h4 d-block mb-3">Presupuesto total vigente </span>
                                        <div class="h2 mb-0">
                                            <span class="big-number valor-vigente" tipo="fondos"></span>
                                            <span class="lblEtiquetaMoneda"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-5">

                                <div class="card white-card comprometido">
                                    <div class="card-body">
                                        <div class="main-icon-value">
                                            <div class="ic-wrap">
                                                <img src="~/img/ic-comprometido.svg" class="img-fluid" alt="Icono decorativo Presupuesto" />
                                            </div>
                                            <div class="desc-data">
                                                <div class="executeV">Presupuesto <span class="text-bold">COMPROMETIDO</span>
                                                    <a href="#popup1" class="p-2 popup1_open ic-ttip">
                                                        <span class="material-icons md-32">
                                                            info
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="presupuestoN valor-comprometido" tipo="fondos"></div>
                                                <small>Ejecución</small>
                                                <div class="percentage">
                                                    <div class="completed comprometido" tipo="fondos"></div>
                                                    <div class="indicatorValues">
                                                        <span class="startPoint text-center porcentaje-comprometido" tipo="fondos"></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card white-card girado">
                                    <div class="card-body">
                                        <div class="main-icon-value">
                                            <div class="ic-wrap">
                                                <img src="~/img/ic-girado.svg" class="img-fluid" alt="Icono decorativo Presupuesto" />
                                            </div>
                                            <div class="desc-data">
                                                <div class="executeV">Presupuesto <span class="text-bold">GIRADO</span>
                                                    <a href="#popup2" class="p-2 popup2_open ic-ttip">
                                                        <span class="material-icons md-32">
                                                            info
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="presupuestoN valor-girado" tipo="fondos"></div>
                                                <small>Ejecución</small>
                                                <div class="percentage">
                                                    <div class="completed girado" tipo="fondos"></div>
                                                    <div class="indicatorValues">
                                                        <span class="startPoint text-center porcentaje-girado" tipo="fondos"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
        


</div>

<section class="section section-gray" id="RecPerFuncionBySector">
    <div class="container" id="divContenedorPerPlan">
        <div class="row py-4">
            <div class="col-12">
                <div class="section-heading heading-left mb-0">
                    <h2>¿En qué se gasta?</h2>
                    <div class="section-subheading">
                        <p>El presupuesto se distribuye entre los diferentes sectores de la Administración Distrital para responder a las necesidades de la población. En el siguiente gráfico, puede hacer clic en las áreas para navegar por los distintos niveles y conocer los montos correspondientes.</p>
                    </div>
                </div>                
            </div>
        </div>
       
        <div class="row">
            <div class="col-lg-12">
                <div class="pChart">
                    <div id="divGraphPerPlan"></div>
                </div>
            </div>
            <div class="row justify-content-center" id="divDisposicionFinal" style="display:none">
                <div class="col-lg-8">
                    <div class="alert alert-info d-flex align-items-center my-3" role="alert">
                        <i class="bi bi-lightbulb bulbicn me-2"></i>
                        <p class="small"><span class="text-bold">Disponibilidad final</span> es el dinero que le queda a una entidad al cierre del año, después de sumar los ingresos y restar los gastos. Sirve para mostrar si el presupuesto quedó equilibrado.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section section-gray" id="RecursosPerByInstitucion">
    <div class="container">
        <div class="row py-4">
            <div class="col-12">
                <div class="section-heading heading-left mb-0">
                    <h2>¿Cuánto presupuesto ejecutan <span id="lblTipoInstitucion"></span> en el <span class="lblAnyoSelected"></span>?</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="pChart">
                    <div id="divGraphPerInstitucion"></div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section" id="EjecutadoVsAprobado">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading heading-left">
                    <h2 class="mb-0">
                        Comparativo presupuestal por entidades
                    </h2>
                    <div class="section-subheading">
                        <p><strong>Presupuesto vigente</strong> es la cantidad total de dinero aprobada para gastar en un año, que va del 1 de enero al 31 de diciembre. <strong>Presupuesto Comprometido</strong> es la parte del dinero ya reservada para cumplir obligaciones, como contratos, órdenes de compra o convenios. <strong>Presupuesto Girado</strong> es el dinero efectivamente pagado, una vez que se han recibido los bienes o servicios contratados.</p>
                        <p class="text-bold">Seleccione (máximo 5) <span class="lblEtiquetaEntidad"></span> para realizar el comparativo. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 col-sm-4">
                <div id="divContenedorEntidades">
                </div>
            </div>
            <div class="col-md-8 col-sm-8 text-center">
                <span class="h5" id="topEntidadesG" cons="0">Top</span>
                <div class="mt-4" id="divGraphBarChartGastoEntidades" style="min-width:600px; min-height: 360px;"></div>
            </div>
        </div>
    </div>
</section>
<section class="section section-gray" id="HistoricoPagado" style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading heading-left">
                    <h2 class="mb-0">
                        Resumen de ejecución presupuestaria a la fecha
                    </h2>
                    <div class="section-subheading">
                        <p>Este gráfico proporciona una visión histórica <b> acumulada </b> de cómo se han ejecutado los recursos financieros.</p>
                        <p class="text-bold">Seleccione (máximo 5) <span class="lblEtiquetaEntidad"></span> para realizar el comparativo. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4">
                <div id="divContenedorEntidadesPag">
                </div>
            </div>
            <div class="col-lg-8 text-center">
                <span class="h5" id="topEntidadesPag" cons="0">Top</span>
                <div class="mt-4" id="grafico_lineas"></div>

            </div>
        </div>
    </div>
</section>
<section class="section CTA-hero">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5"> 
                <img src="img/preview-tablero-presupuesto.png" class="img-fluid" alt="Previsualización interfaz de tablero de power BI enfocado a presupuesto" />
            </div>
            <div class="col-lg-5">
                <h2 class="white-text">Explora más:</h2>
                <p>Conoce con mayor detalle cómo se está ejecutando el presupuesto a través de tableros interactivos oficiales de Secretaría de Hacienda.</p>
                
                <p>¡El control ciudadano comienza con la información!</p>

                <div class="wrap-cta my-3">
                    <a href="https://gobiernoabiertobogota.gov.co/gab/presupuesto/presupuesto-general" class="btn btn-primary btn-lg" target="_blank">
                        <span title="Ver más">Ver Tablero</span>

                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--MODAL 1-->
    <div id="popup1" class="popup_style popup_style_wide popup_style_sally open_popup" style="display:none;">
        <div class="popup">
            <div class="popup_content">
                <h4 class="popup_title">Tipos de presupuesto</h4>
                <div class="content2">
                    <ul>
                        <li>
                            <span class="text-bold">Presupuesto Comprometido:</span>  <br />Es la parte del dinero ya reservada para cumplir obligaciones, como contratos, órdenes de compra o convenios.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="popup1_close popup_close"><i class="material-icons md-24">close</i></div>
        </div>
    </div>
    <!--MODAL 2-->
    <div id="popup2" class="popup_style popup_style_wide popup_style_sally open_popup" style="display:none;">
        <div class="popup">
            <div class="popup_content">
                <h4 class="popup_title">Tipos de presupuesto</h4>
                <div class="content2">
                    <ul>
                        <li>
                            <span class="text-bold">Presupuesto Girado:</span>  <br />Es el dinero efectivamente pagado, una vez que se han recibido los bienes o servicios contratados.
                        </li>

                    </ul>
                </div>
            </div>
            <div class="popup2_close popup_close"><i class="material-icons md-24">close</i></div>
        </div>
    </div>
</section>
<input type="hidden" name="type_section" id="type_section" value="@Model.Default_Seccion" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="@Cdn.Url(Url, "~/js/lib/D3/d3.v7.min.js")"></script>
<script src="https://cdn.jsdelivr.net/npm/d3plus@2" integrity="sha384-c1J7R3OBhP9G7a0SkXCaVW1lVtOHAOuukFed365bi4B0GwZvKL2hd8mjE7tRMl2U" crossorigin="anonymous"></script>
<script src="@Cdn.Url(Url, "~/js/presupuesto_aux.js")"></script>
