@model PlataformaTransparencia.Modelos.Entidad.ModelEntidadData

@inject OrchardCore.IOrchardHelper Orchard
@using PlataformaTransparencia.Negocios.Comunes
@inject ICdnService Cdn

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var etiquetas = await Orchard.GetContentItemByHandleAsync("alias:Etiquetas");
    var LabelDistribucionPresupuestalEntidad = "";
    var TituloDistribucionPresupuestalEntidad = "";
    var LabelContratosFirmadosEntidad = "";
    var TituloContratosFirmadosEntidadEntidad = "";
    var LabelDistPresupuesto = "";
    var TituloDistPresupuesto = "";
}
@foreach (var etiqueta in etiquetas.Content.BagPart.ContentItems)
{
    if (@etiqueta.AliasPart.Alias == "DistribucionPresupuestalEntidad")
    {
        LabelDistribucionPresupuestalEntidad = @etiqueta.HtmlBodyPart.Html;
        TituloDistribucionPresupuestalEntidad = @etiqueta.TitlePart.Title;
    }

    if (@etiqueta.AliasPart.Alias == "LabelContratosFirmadosEntidad")
    {
        LabelContratosFirmadosEntidad = @etiqueta.HtmlBodyPart.Html;
        TituloContratosFirmadosEntidadEntidad = @etiqueta.TitlePart.Title;
    }
    if (@etiqueta.AliasPart.Alias == "DistribucionPresupuestoEntidadPerGasto")
    {
        LabelDistPresupuesto = @etiqueta.HtmlBodyPart.Html;
        TituloDistPresupuesto = @etiqueta.TitlePart.Title;
    }
}
<head>
    <style>

        .node rect {
            cursor: move;
            fill-opacity: .8;
            shape-rendering: crispEdges;
        }

        .node text {
            pointer-events: none;
            /*text-shadow: 0 1px 0 #fff;*/
        }

        .link {
            fill: none;
            stroke: #000;
            stroke-opacity: .1;
        }

            .link:hover {
                stroke-opacity: .2;
            }

        .arc text {
            font: 12px sans-serif;
            text-anchor: middle;
            font-weight: bold;
        }

        .arc path {
            stroke: #fff;
        }

        .toolTip {
            position: absolute;
            display: none;
            width: auto;
            height: auto;
            background: none repeat scroll 0 0 white;
            border: 0 none;
            border-radius: 8px 8px 8px 8px;
            box-shadow: -3px 3px 15px #888888;
            color: black;
            font: 12px sans-serif;
            padding: 5px;
            text-align: center;
        }

        #divGraphPerTab .d3plus-viz-back text {
            font-size: 20px !important;
            font-weight: 700 !important;
            fill: #000000 !important;
        }

    
    </style>
</head>
<body>
    <section class="banner-main-section s0-section" style="background-image: url('GaleriaEnteTerritorial/XL/default_XL.jpg')">
        <div class="bgBlueOverlay">&nbsp;</div><!-- DON'T EREASE-->
        <div class="container">
            <!-- Begin bread crumbs -->
            <nav class="bread-crumbs mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ul class="bread-crumbs-list">
                                <li>
                                    <a href="/">Inicio</a>
                                    <i class="material-icons md-18">chevron_right</i>
                                </li>
                                <li><a href="/BusquedaResultados">Resultados de búsqueda</a><i class="material-icons md-18">chevron_right</i></li>
                                <li>@Model.Nombre</li>

                            </ul>
                        </div>
                    </div>
                    <input type="hidden" id="codigoIdentidad" value="@Model.Codigo" />
                </div>
            </nav>
            <!-- End bread crumbs -->
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="banner-main-info pb-0">
                        <div class="banner-main-title">
                            <h1>@Model.Nombre</h1>
                        </div>
                        <div class="banner-main-desc ">
                            <span class="h5">Entidad</span>
                        </div>

                    </div>
                </div>
                
            </div>
            <!--NAVIGATION ON PAGE-->
            <div class="row navs-shortcuts">
                <div class="" id="navs-header">
                    <a class="btn-section" href="#s1">
                        <span class="ic-shortcut"><i class="material-icons md-24">device_hub</i></span>
                        <span class="text-btn">Presupuesto de la entidad</span>
                    </a>
                    <a class="btn-section" href="#s2">
                        <span class="ic-shortcut"><i class="material-icons md-24">grid_view</i></span>
                        <span class="text-btn">Trazabilidad de los recursos</span>
                    </a>
                    <a class="btn-section" href="#s3">
                        <span class="ic-shortcut"><i class="material-icons md-24">speaker_notes</i></span>
                        <span class="text-btn">Proyectos POT</span>
                    </a>
                </div>
            </div>
            <!--FIN NAVIGATION ON PAGE-->
        </div>
    </section>
    <section class="section" id="s1">
        <div class="container">
            <div class="row sep mb-4">
                <div class="section-heading heading-left">
                    <h2>Presupuesto de la entidad</h2>
                </div>
                <div class="contadores">
                    <div class="row" id="divTxtTodosProy"></div>
                </div>
                <!--SELECT AÑO-->
                <div class="row justify-content-center mb-4 py-4">
                    <div class="col-lg-4">
                        <!--YEAR FILTER-->
                        <div class="form-group mb-5">
                            <label for="input-select">Selecciona un año</label>
                            <select class="form-select" aria-label="Selecciona un año:" id="annioPresupuesto">
                                @foreach (var item in Model.periodos)
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-4">
                        <div class="col-lg-7">
                            <div class="Section-infograph mb-4">
                                <div class="main-icon-value">
                                    <img src="~/img/svg-icons/ICO-Org-009.svg" class="img-fluid" alt="Icono decorativo Presupuesto vigente" />
                                </div>
                                <div class="cont-pres-infograph">
                                    <span class="h4 d-block mb-3">Presupuesto total vigente año <span class="lblAnyoSelected"></span></span>
                                    <div class="h2 mb-0">
                                        <span class="big-number valor-vigente" tipo="general"></span>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="card white-card comprometido">
                                <div class="card-body">
                                    <div class="main-icon-value">
                                        <div class="ic-wrap">
                                            <img src="~/img/ic-comprometido.svg" class="img-fluid" alt="Icono decorativo Presupuesto comprometido" />
                                        </div>
                                        <div class="desc-data">
                                            <div class="executeV">
                                                Presupuesto Disponible <span class="text-bold">COMPROMETIDO</span><a href="#popup1" class="p-2 popup1_open ic-ttip">
                                                    <span class="material-icons md-32">
                                                        info
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="presupuestoN valor-comprometido" tipo="general"></div>

                                            <small>Ejecución</small>
                                            <div class="percentage">
                                                <div class="completed comprometido" tipo="general"></div>
                                                <div class="indicatorValues">
                                                    <span class="startPoint text-center porcentaje-comprometido" tipo="general"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="card white-card girado">
                                <div class="card-body">
                                    <div class="main-icon-value">
                                        <div class="ic-wrap">
                                            <img src="~/img/ic-girado.svg" class="img-fluid" alt="Icono decorativo Presupuesto girado" />
                                        </div>
                                        <div class="desc-data">
                                            <div class="executeV">Presupuesto Disponible <span class="text-bold">GIRADO</span><a href="#popup2" class="p-2 popup2_open ic-ttip">
                                                    <span class="material-icons md-32">
                                                        info
                                                    </span>
                                                </a></div>
                                            <div class="presupuestoN valor-girado" tipo="general"></div>
                                            <small>Porcentaje de ejecución</small>
                                            <div class="percentage">
                                                <div class="completed girado" tipo="general"></div>
                                                <div class="indicatorValues">
                                                    <span class="startPoint text-center porcentaje-girado" tipo="general"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row sep">
                <div class="section-heading heading-left" id="s2">
                    <h2>Trazabilidad de los recursos</h2>
                </div>
                <div class="col-md-12">
                    <div class="tabs-content py-4">
                        <div class="tabs goals">
                            <ul class="tabs-nav" id="tabs_contenedor">
                            </ul>
                            <div class="container">
                                <div class="tabs-container">
                                    <div class="tabs-item content active">
                                        <!--Inicia Tab Contentido-->
                                        <div class="row">
                                            <div class="section-subheading" id="divTextosProgramas">
                                                <p class="texto_tab" data-tipo="O21" hidden><strong>Funcionamiento</strong> son los recursos necesarios para que las entidades puedan cumplir con sus funciones y desarrollar de manera adecuada sus actividades administrativas, técnicas y operativas.</p>
                                                <p class="texto_tab" data-tipo="O22" hidden><strong>El Servicio de la Deuda </strong> son los gastos necesarios para cumplir con las obligaciones de créditos, deuda y otros compromisos financieros que vencen durante la vigencia fiscal.</p>
                                                <p class="texto_tab" data-tipo="O23" hidden><strong>Inversión</strong> son los gastos que hace el Distrito Capital para impulsar el desarrollo económico, social y cultural de la ciudad, mejorar la calidad de vida de los ciudadanos y cumplir con los planes de desarrollo.</p>
                                            </div>
                                            <div class="col-lg-12 py-4">
                                                <div class="pChart">
                                                    <div id="divGraphPerTab">
                                                        <!--TREEMAP -->
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <!--Selector Programas-->
                                        <div class="row">
                                            <div class="col-lg-12 text-center py-4">
                                                <div class="comparativeTable" id="divInversionSection">
                                                    <div id="divProgramas"></div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div id="loadingAsignacion" class="asigFin">
                                                                <h3 id="lblValorAsignacionPrograma"></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="divInversion"></div>

                                                </div>
                                            </div>
                                        </div>
                                        <!--Fin Selector Programas-->
                                        <!--Ini Listado proyectos de inversion-->
                                        <div class="row" id="divContentProyectosInv">
                                            <div class="col-lg-12 text-center py-4">
                                                <div class="comparativeTable">
                                                    <div class="card-entidades-group" id="divListado">
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="divPagFichas" class="">
                                            </div>
                                        </div>
                                        <!--Fin Listado proyectos de inversion-->
                                        <!--Fin Tab 1-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--perfil segun XD-->
    <section class="section section-gray" id="s3">
        <div class="container">
            <div class="row sep mb-4">
                <div class="section-heading heading-left">
                    <h2>Proyectos POT</h2>
                </div>
                
                <div class="section-subheading">
                    <div class="wrap-desc-pot">
                        <p>En Bogotá se dividen los proyectos de inversión y los de desarrollo local porque tienen diferentes alcances: los de inversión responden a necesidades de toda la ciudad, mientras que los locales atienden prioridades específicas de cada localidad. Así se asegura una mejor gestión y uso de los recursos.</p>
                        <div class="city-card-logopot">
                            <img alt="logo del Plan de ordenamiento territorial" src="..\img\imgsector\Logopot.png" />
                        </div>
                    </div>

                </div>
                <div class="col-lg-4" id="divFiltroLocalidad">
                    <div class="form-group">
                        <label for="selectLocalidades" class="small">Filtrar por localidad</label>
                        <select class="form-select" aria-label="Filtrar por" id="selectLocalidades">
                        </select>
                    </div>
                </div>
               
                <div class="col-lg-12 wrap-pry-destacados mb-4" >
                    <div class="row py-4" id="divProyectosPot">
                    </div>
                    <div id="divPagPot" class="">
                    </div>
                    <!--ESTRUCTURA QUEMADA PARA PODER COMPARAR DISEÑO-->
                    <div id="divPagDist" class="" style="display:none">
                        <span class="pag_actual" data-page="1">
                            <text>1</text>
                        </span>
                        <a class="page_left" role="button" data-page="2">
                            <span class="glyphicon"></span>
                            <text class="paginacion">2</text>
                        </a>
                        <a class="page_left" role="button" data-page="3">
                            <span class="glyphicon"></span>
                            <text class="paginacion">3</text>
                        </a>
                        <a class="page_left" role="button" data-page="4">
                            <span class="glyphicon"></span>
                            <text class="paginacion">4</text>
                        </a>
                        <a class="page_left" role="button" data-page="5">
                            <span class="glyphicon"></span>
                            <text class="paginacion">5</text>
                        </a>
                        <a class="page_left" role="button" data-page="6">
                            <span class="glyphicon"></span>
                            <text class="paginacion">6</text>
                        </a>
                        <a class="page_left" role="button" data-page="7">
                            <span class="glyphicon"></span>
                            <text class="paginacion">7</text>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL 1-->
        <div id="popup1" class="popup_style popup_style_wide popup_style_sally open_popup" style="display:none;">
            <div class="popup">
                <div class="popup_content">
                    <h4 class="popup_title">Tipos de presupuesto</h4>
                    <div class="content2">
                        <ul>
                            <li>
                                <span class="text-bold">Presupuesto Comprometido:</span>  <br />Es la parte del dinero ya reservada para cumplir obligaciones, como contratos, órdenes de compra o convenios.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="popup1_close popup_close"><i class="material-icons md-24">close</i></div>
            </div>
        </div>
        <!--MODAL 2-->
        <div id="popup2" class="popup_style popup_style_wide popup_style_sally open_popup" style="display:none;">
            <div class="popup">
                <div class="popup_content">
                    <h4 class="popup_title">Tipos de presupuesto</h4>
                    <div class="content2">
                        <ul>
                            <li>
                                <span class="text-bold">Presupuesto Girado:</span>  <br />Es el dinero efectivamente pagado, una vez que se han recibido los bienes o servicios contratados.
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="popup2_close popup_close"><i class="material-icons md-24">close</i></div>
            </div>
        </div>

    </section>
    <!---Fin Pefil segun XD-->

    <!--HELP CENTER SHORTCUT-->
    <div id="helpCenter"></div>
    
    <script type="text/javascript" src="@Cdn.Url(Url, "~/js/jquery/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Cdn.Url(Url, "~/js/lib/D3/d3.v7.min.js")"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/d3plus@2"></script>
    <script src="@Cdn.Url(Url, "~/js/entidad_aux.js")"></script>

    <script>

        window.onscroll = function () { myFunction() };

        var header = document.getElementById("navs-header");
        var sticky = header ? header.offsetTop : 0;

        function myFunction() {
            if (header) {
                if (window.scrollY > sticky) {
                    header.classList.add("sticky");
                    header.classList.add("bg-white");
                } else {
                    header.classList.remove("sticky");
                    header.classList.remove("bg-white");
                }
            }
        }
    </script>

    
</body>


