@page

@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--MAIN BANNER-->
<section class="banner-main mb-0">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Contactanos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info pb-0">
                    <div class="banner-main-title">
                      <h2>Contactanos</h2>
                    </div>
                    <div class="banner-main-desc">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, rutrum vulputate fermentum ullamcorper litora vel, suspendisse ac consequat rhoncus lectus ligula.</p>

                    </div>

                </div>

            </div>

        </div>
    </div>

</section>
<div class="subMenu">
    <div class="container">
        <div class="row navs-shortcuts justify-content-center m-0">
            <div class="" id="navs-header">
                <a class="btn-section" id="preguntas" href="#!">
                    Preguntas Frecuentes
                </a>
                <a class="btn-section" id="glosario" href="#!">
                    Glosario
                </a>
                <a class="btn-section" id="contacto" href="#!">
                    Contáctenos
                </a>
            </div>
        </div>
    </div>
</div>
<!--main content-->
<section class="section main-Content">
    <div class="container">
        <section class="sect-tab preguntas" id="preguntas">
            <div class="row">
                @{
                    var preguntas = await Orchard.GetContentItemByHandleAsync("alias:Preguntas");
                    List<string> categorias = new List<string>();
                }
                <!--LEFT COLUMN-->
                <div class="col-lg-3">
                    @foreach (var pregunta in preguntas.Content.BagPart.ContentItems)
                    {
                        @foreach (var termId in pregunta.Pregunta.Categoria.TermContentItemIds)
                        {
                            string term = termId + "";
                            string taxonomy = pregunta.Pregunta.Categoria.TaxonomyContentItemId + "";
                            var display = await Orchard.GetTaxonomyTermAsync(taxonomy, term);
                            if (!categorias.Contains(term))
                            {
                                categorias.Add(term);
                                <div class="categoriapregunta" id="@term">
                                    <span class="h5">@display</span>
                                </div>
                            }
                        }
                    }
                </div>
                <!--RIGHT COLUMN-->
                <div class="col-lg-8">
                    <aside>

                        @foreach (var pregunta in preguntas.Content.BagPart.ContentItems)
                        {
                            @foreach (var termId in pregunta.Pregunta.Categoria.TermContentItemIds)
                            {
                                string term = termId + "";
                                string taxonomy = pregunta.Pregunta.Categoria.TaxonomyContentItemId + "";
                                var display = await Orchard.GetTaxonomyTermAsync(taxonomy, term);
                                
                        <div class="pregunta @term">
                            <br />
                            <h4>@pregunta.DisplayText</h4>
                            <div>@Html.Raw(pregunta.HtmlBodyPart.Html)</div>
                        </div>

                            }
                        }
                    </aside>

                </div>
            </div>
        </section>
        <!--GLOSARIO-->
        <section class="sect-tab glosario" id="glosario" style="display:none">
            <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8">

                    @for (char c = 'A'; c < 'Z'; c++)
                    {
                        <div class="indice" id="@c" style="display:block; float:left">
                            @c  &nbsp; &nbsp;
                        </div>

                    }
                </div>
            </div>
            <div class="row">
                @{
                    var glosario = await Orchard.GetContentItemByHandleAsync("alias:PalabrasGlosario");
                }
                <!--LEFT COLUMN-->
                <div class="col-lg-2">
                </div>
                <!--RIGHT COLUMN-->
                <div class="col-lg-8">
                    @foreach (var palabra in glosario.Content.BagPart.ContentItems)
                    {
                        string p = @palabra.DisplayText.ToString().Substring(0, 1);
                    <div class="palabra @p" id="">
                        <br />
                        <h4>@palabra.DisplayText</h4>
                        <div>@Html.Raw(palabra.HtmlBodyPart.Html)</div>

                    </div>




                    }


                </div>
            </div>
        </section>
        <!--CONTACT FORM-->
        <section class="sect-tab contacto" id="contacto" style="display:none">
            <div class="row justify-content-center">
                <div class="col-lg-6 content-item">
                    <form action="#!" method="post" class="contact-form">
                        <!-- Begin hidden Field for send form -->
                        <input type="hidden" name="form_subject" value="Contact form">
                        <!-- End hidden Field for send form -->
                        <div class="row gutters-default">
                            <div class="col-sm-6 col-12">
                                <div class="form-field">
                                    <label for="contact-name" class="form-field-label">Nombre</label>
                                    <input type="text" class="form-field-input" name="ContactName" value="" autocomplete="off" required="required" id="contact-name">
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="form-field">
                                    <label for="contact-name" class="form-field-label">Apellido</label>
                                    <input type="text" class="form-field-input" name="ContactName" value="" autocomplete="off" required="required" id="contact--last-name">
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="form-field">
                                    <label for="contact-phone" class="form-field-label">Teléfono</label>
                                    <input type="tel" class="form-field-input mask-phone" name="ContactPhone" value="" autocomplete="off" required="required" id="contact-phone">
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="form-field">
                                    <label for="contact-email" class="form-field-label">Email</label>
                                    <input type="email" class="form-field-input" name="ContactEmail" value="" autocomplete="off" required="required" id="contact-email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-field">
                                    <label for="contact-message" class="form-field-label">Asunto</label>
                                    <textarea name="ContactMessage" class="form-field-input" id="contact-message" cols="30" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-field">
                                    <label for="contact-message" class="form-field-label">Escriba su mensaje</label>
                                    <textarea name="ContactMessage" class="form-field-input" id="contact-message" cols="30" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-btn">
                                    <button type="submit" class="btn btn-w240 ripple"><span>Enviar</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </section>
    </div>
</section>

@*<script type="text/javascript" src="../../js/centroayuda_aux.js"></script>*@
<script type="text/javascript">

    $(document).ready(function () {

        //Muestra las preguntas de la primera categoria
        var c = document.getElementsByClassName("categoriapregunta");
        id = "pregunta " + c[0].id;
        Mostrar("pregunta", id)
        //Muestra las palabras del glosario de la primera letra
        Mostrar("palabra", "palabra A")
    });

    $(document).on('click', '.categoriapregunta', function (e) {
        id = "pregunta " + this.id;
        Mostrar('pregunta', id);

    });

    $(document).on('click', '.btn-section', function (e) {
        id = "sect-tab " + this.id;
        Mostrar('sect-tab', id);

    });


    $(document).on('click', '.indice', function (e) {
        id = "palabra " + this.id;
        Mostrar('palabra', id);

    });
    function Mostrar(ocultar, mostrar) {
        var y = document.getElementsByClassName(ocultar);
        var i;
        for (i = 0; i < y.length; i++) {
            y[i].style.display = "none";
        }
        var x = document.getElementsByClassName(mostrar);
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "block";
        }
    }
</script>
