@model PlataformaTransparencia.Modelos.Contratos.ModelContrato
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject OrchardCore.IOrchardHelper Orchard
@using PlataformaTransparencia.Negocios.Comunes
@inject ICdnService Cdn
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var etiquetas = await Orchard.GetContentItemByHandleAsync("alias:Etiquetas");
    var LabelContrato = "";
    var TituloContrato = "";
    System.IFormatProvider culture =
    new System.Globalization.CultureInfo("es-CO");
}
@foreach (var etiqueta in etiquetas.Content.BagPart.ContentItems)
{
    if (@etiqueta.AliasPart.Alias == "Contrato")
    {
        LabelContrato = @etiqueta.HtmlBodyPart.Html;
        TituloContrato = @etiqueta.TitlePart.Title;
    }
}
<input type="hidden" id="hdNomUsuario" value="" />
<input type="hidden" id="hdIdUsuario" value="" />
<section class="banner-main">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>Contrato @Model.Query[0].CodigoContrato</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info">
                    <div class="banner-main-title">
                        <h1>Contrato @Model.Query[0].CodigoContrato</h1>
                    </div>
                    <div class="banner-main-desc" id="srcProceso">
                        <a href="" target="_blank" rel="noopener">
                            <p id="enlaceproceso"></p>
                        </a>
                        <p>
                            @LabelContrato
                        </p>
@*                         <p><strong>Lorem ipsum</strong> Lorem ipsum <strong>Lorem ipsum</strong>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
 *@                    </div>

                </div>
            </div>

        </div>
        <div class="row navs-shortcuts">

            <div class="" id="navs-header">
                <a class="page-scroll" href="#secInfoContratos">
                    <span class="ic-shortcut"><img class="md-22" src="@Cdn.Url(Url, "~/img/ic_contract_link1.svg")" alt="icono decorativo" /></span>
                    <span class="text-btn">Información del contrato u orden de compra</span>
                </a>
                <a class="page-scroll" href="#obj-gasto" id="obj-gasto-header">
                    <span class="ic-shortcut"><img class="md-22" src="@Cdn.Url(Url, "~/img/ic_contract_link4.svg")" alt="icono decorativo" /></span>
                    <span class="text-btn">Artículos comprados</span>
                </a>
                <a class="page-scroll" href="#s5">
                    <span class="ic-shortcut"><img class="md-22" src="@Cdn.Url(Url, "~/img/ic_contract_link2.svg")" alt="icono decorativo" /></span>
                    <span class="text-btn">¿Qué opinas de este contrato?</span>
                </a>
            </div>
        </div>

        <!--NAVIGATION ON PAGE -->
        <div class="row justify-content-center mb-5">
            <div class="col-md-12 text-center p25">
                <a class="btn btn-outlined" href="" target="_blank" rel="noopener" id="proceso_header"><i class="material-icons md-22">launch</i> Ver Detalles del Proceso</a>
            </div>
        </div>

    </div>
    
  
</section>


<section class="section" id="secInfoContratos">
    <div class="container">
        <div class="section-heading heading-left mb-3">
            <h2>Información del contrato</h2>
        </div>
        <div class="row">
            <!--CONTRACT-LIST-->
            <div class="col-lg-12">
                <!--ESTRUCTURA HTML PARA TOMAR COMO REFERENCIA-->
                <!--CIERRE DE ESTRUCTURA-->
                <div class="wrap-proceso whiteBg" id="srcContratos">
                </div>
                <div id="divPagContratos" class="">
                </div>

            </div>
            <!--END CONTAINER-->
        </div>
    </div>
</section>

<!--OBJETOS DE GASTO-->
<section class="section bgSoft-blue" id="obj-gasto">
    <div class="container">
        <div class="section-heading heading-left mb-3">
            <h2>Artículos comprados</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Artículo</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Precio Unitario</th>
                                <th scope="col">Impuesto Total</th>
                                <th scope="col">Descuentos</th>
                                <th scope="col">Monto Total</th>
                            </tr>
                        </thead>
                        <tbody id="articulos">
                           @*  <tr>
                                <td>Fuel oil de calefacción 2</td>
                                <td>3</td>
                                <td>Llenado de Tanque de Gasoil de la Institución</td>
                                <td>10</td>
                                <td>3</td>
                                <td>0</td>
                                <td>13</td>
                            </tr> *@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</section>

<section id="s5" class="section whiteBg">
    <div class="container">
        <div class="row text-center mb25">
            <div class="section-heading heading-center mb-3">
                <h2 class="mb-3">¿Qué opinas de este contrato?</h2>
                <span class="text-bold">Tu participación es importante para nosotros, participa escribiendo un comentario reportando el avance de este contrato.</span>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 user-form-login">
                <!--usuario logueado-->
                <div id="divUsuarioLog">
                    <div class="light-bg">

                    </div>

                </div>
                
                <!--usuario sin loguear este div se debe ocultar cuando ya el usuario está logueado-->
                <div class="user-wrap">
                    <div class="wrap-btn">
                        <a id="btnLoginGab" class="btn btn-link">Iniciar sesión</a>
                        <a id="btnUserGab" target="_blank" rel="noopener" href="@Convert.ToString(Configuration["GabAuth:UserRegister"])" class="btn btn-outlined">Registrarse</a>
                    </div>
                </div>

                <!--SURVEY-->
                <div class="light-bg">
                    <div id="divPregParticipacion" class="objHidden">
                        <div class="p-3">
                            <h3 id="divNomUsuarioLog"></h3><br>
                            <br>

                            @*ParticipacionComentarios*@
                            <div id="divTipoComentario" class="form-group">
                                <label for="filtro_TipoCometario" class="required">Tipo de comentario:</label>
                                <select class="form-select" aria-label="Selecciona un tipo comentario" id="filtro_TipoCometario">
                                    <option id_tipo="" class="selected">Tipo</option>
                                    @if (Model.tipo_comentario.Count() > 0)
                                    {
                                        @foreach (var item in Model.tipo_comentario)
                                        {
                                            <option id_tipo="@item.idTC">@item.nameTC</option>
                                        }
                                    }

                                </select>
                            </div>
                            <div class ="mb-3">
                                <label for="txtcomentario" class="required">Escribe tu comentario:</label>
                                <div id="divComentario">
                                    <textarea rows="4" class="txtAbierto form-control" id="txtcomentario" name="" value="" id_tipo=""></textarea>
                                </div>
                            </div>
                            <div class="disclaimer well">
                                <span class="material-icons">info</span>
                                <p>Se informa que los comentarios de su participación antes de ser publicados serán validados por Gobierno Abierto Bogotá. Si desea, su opinión puede ser anónima. </p>
                            </div>
                            <div class="disclaimer well">
                                <span class="material-icons">info</span>
                                <p>El responsable de proveer la información para la respuesta a los ciudadanos es el organismo o entidad del estado que ha recibido los recursos y por ende, encargado de la ejecución de los programas o contratos .El administrador de la plataforma gestionará la comunicación con dicha entidad. </p>
                            </div>
                            <div class="py-3">
                                <input type="checkbox" id="anonimo" class="" /> Anónimo
                            </div>
                            <div class="form-group text-center">
                                <button type="button" class="btn btn-primary" id="btnGuardarComent"> ENVIAR </button><br><br>
                                <a href="">CANCELAR</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!--CONFIRM-->
                <div class="light-bg">
                    <div id="divConfirmaEnvio" style="display:none;">
                        <div class="p-3 text-center">
                            <img src="@Cdn.Url(Url, "~/content/img/icSuccess.jpg")" /><br><br>
                            <span class="h3 orangeLink" id="txtMsgConfirmaEnvio"></span><br>
                            <span class="h4">Tu comentario será publicado cuando el administrador lo verifique</span>
                            <div class="closeSesion"><a href="/contratos" class="btn btn-default">Comentar otro contrato</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 s2" id="divComentarios">
                <div class="Tcomments">
                    <div class="lcomments">
                        <span class="h3" id="txtNumComentarios"> 0 </span>
                        <span class="h3">Total Comentarios</span>
                    </div>
                </div>
                <div id="content-2" class="content mCustomScrollbar" data-mcs-theme="dark">
                </div>

            </div>
        </div>

    </div>

</section>


<!--HELP CENTER SHORTCUT-->
<div id="helpCenter"></div>

<input id="moneda" name="moneda" type="hidden" value="@Model.Query[0].Moneda">
<input id="proceso" name="proceso" type="hidden" value="@Model.Query[0].CodigoProceso">
<input id="maxyear" name="maxyear" type="hidden" value="@Model.Query[0].MaxYear">
<input id="contrato" name="contrato" type="hidden" value="@Model.Query[0].CodigoContrato">


<script>
    var header = document.getElementById("navs-header");
    if (header) {       
        var sticky = header.offsetTop;
        window.onscroll = function () {
            if (window.scrollY > sticky) {
                header.classList.add("sticky");
                header.classList.add("bg-white");
            } else {
                header.classList.remove("sticky");
                header.classList.remove("bg-white");
            }
        };
    } 
</script>
<script type="text/javascript" src="@Cdn.Url(Url, "~/js/lib/D3/d3.v7.min.js")"></script>
<script type="text/javascript" src="@Cdn.Url(Url, "~/js/Bootbox/bootbox.min.js")"></script>
<script type="text/javascript" src="@Cdn.Url(Url, "~/js/contrato_aux.js")"></script>
<script type="text/javascript" src="@Cdn.Url(Url, "~/js/participacion_aux.js")"></script>


@section DataBody {
        data-profile='[{"idUsuParticipa":"@Model.id_usu_participa" , "nomUsuParticipa" : "@Model.nom_usu_participa"}]'
}
