@model PlataformaTransparencia.Modelos.Contratos.ModelContratosConsolidados
@inject OrchardCore.IOrchardHelper Orchard
@using PlataformaTransparencia.Negocios.Comunes
@inject ICdnService Cdn
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var etiquetas = await Orchard.GetContentItemByHandleAsync("alias:Etiquetas");
    var LabelContratos = "";
    var TituloContratos = "";
    System.IFormatProvider culture =
new System.Globalization.CultureInfo("es-CO");
}
@foreach (var etiqueta in etiquetas.Content.BagPart.ContentItems)
{
    if (@etiqueta.AliasPart.Alias == "Contratos")
    {
        LabelContratos = @etiqueta.HtmlBodyPart.Html;
        TituloContratos = @etiqueta.TitlePart.Title;
    }
}
<main>
<section class="banner-main">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>¿Cómo va la contratación?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info">
                    <div class="banner-main-title mb-0">
                        <h1>¿Cómo va la contratación?</h1>
                    </div>
                    <div class="banner-main-desc">
                        <!--<p>
                            @LabelContratos
                        </p>-->
                        <p>Conocer cada contrato y contratista de la Alcaldía. </p>
                    </div>

                </div>
            </div>

        </div>

        <!--SELECT AÑO-->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <!--YEAR FILTER-->
                <div class="form-group">
                    <label for="top_contratos_periodos">Selecciona un año:</label>
                    <select class="form-select" id="top_contratos_periodos"></select>
                </div>
            </div>
        </div>

    </div>
   
</section>


@if (@Model.CodigoProceso == null)
{
<section class="section-gray" id="contratosentidad" hidden="true">
    <div class="container">
        <div class="section-heading heading-center">
            <h3>Contratos por Fuente de Datos</h3>
        </div>
        <div class="row">
            @if (Model.Consolidados.Count() > 0)
            {
            foreach (var item in Model.Consolidados)
            {
                    <div class="col-md-4">
                        <div class="card shadow border-0 h-100">
                            <div class="car-deck">
                                    <div class="card-headerdata  text-center">
                                        <img class="img-fluid img20" src="~/img/logoHaciendaB.png" alt="lorem impsum" />
                                </div>
                                <div class="car-bodycntos">
                                    <div class="car-content">
                                        <div class="info_contra" id="dataSEFIN">

                                                    <text>
                                                        <div class="h6">Contratos @item.OrigenInformacion</div>
                                                        <div class="h4"> @String.Format(culture, "{0:n0}", @item.NroContratos)</div>
                                                        <div class="h6">Valor</div>
                                                        <div class="h4">
                                                            @item.MonedaContrato
                                                            @if (@item.ValorContratado >= 1000000)
                                                            {
                                                                <text> @String.Format(culture, "{0:n1}", @item.ValorContratado / 1000000) Millones</text>
                                                            }
                                                            else
                                                            {
                                                    <text> @String.Format(culture, "{0:n1}", @item.ValorContratado)</text>
                                                            }
                                                        </div>
                                                        </text>
                                   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                }
                else
                {
                    <div class="col-md-4">
                        <div class="card shadow border-0 h-100">
                            <div class="car-deck">
                                <div class="card-headerdata  text-center">
                                    <img class="img-fluid img20" src="~/img/logoHaciendaB.png" alt="lorem impsum" />
                                </div>
                                <div class="car-bodycntos">
                                    <div class="car-content">
                                        <div class="info_contra" id="dataSEFIN">

                                            <text>
                                                <div class="h6">Contratos</div>
                                                <div class="h4">0</div>
                                                <div class="h6">Valor</div>
                                                <div class="h4">- -</div>
                                            </text>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            <div class="col-md-12">
                <div class="alertCont alert-info" role="alert">Para evitar duplicaciones en los análisis, se recomienda utilizar las publicaciones de manera separada, usando los datos de <strong>ONCAE</strong> para análisis sobre licitaciones, y <strong>SEFIN</strong> para análisis de presupuesto y pago de contratos.</div>
            </div>
        </div>
     
    </div>
</section>

}

<section class="section" id="secInfoContratos">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Filtros</h2>
                <form class="contractList bgSoftGray">
                   
                    <div class="form-group" id="grpentidad">
                        <label class="year" for="entidad">Entidad</label>

                        <input type="search" data-results="search-home" data-search="home" id="entidad" class="search-input form-control input-lg" autocomplete="on" placeholder="Entidad">
                            <!-- Botón desplegable (combo) -->
@*                             <button id="combo-btn-entidad" type="button"
                                                            style="
                                        position:absolute;
                                        right:10px;
                                        top:50%;
                                        transform:translateY(-50%);
                                        background:white;
                                        border:none;
                                        cursor:pointer;
                                        font-size:18px;
                                        padding:0 6px;
                                        color:#666;
                                    ">
                                ▼
                            </button> *@
                        <div id="search-home" class="search-body">
                            <div id="divNoEncontrado" class="no-search-results" style="display: none;">No se han encontrado entidades</div>

                        </div>
                    </div>
@*                     <div class="form-group" hidden="true">
                        <label class="origen" for="top_origen_informacion">Fuente de Datos</label>
                        <select class="form-select" id="top_origen_informacion">
                            <option value="">Todos</option>
                            @if (Model.selectCon.Count > 0)
                            {
                                foreach (var item in Model.selectCon)
                                {
                                    <text>
                                        <option value="@item.CodigoOrigenInformacion">@item.OrigenInformacion.ToUpper()</option>
                                    </text>
                                }

                            }
                        </select>
                    </div> *@

                    <div class="form-group">
                        <label class="year" for="proceso">Proceso Palabra Clave </label>

                        <input type="search" data-results="search-home" data-search="home" id="proceso" class="search-input form-control input-lg" autocomplete="on" placeholder="Código ó Ventilador, reactivos, etc." value="@Model.CodigoProceso">

                    </div>
                    <div class="triggerForm">
                        <input type="button" class="btn btn-primary" value="Buscar" id="btn-buscar" disabled=""><div class="clearfix"></div>
                        <a class="btn btn-link text-center" id="btnLimpiar" disabled="disabled">LIMPIAR FILTROS</a>
                    </div>

                </form>

            </div>
            <!--CONTRACT-LIST-->
            <div class="col-lg-8">
                <!--ESTRUCTURA HTML PARA TOMAR COMO REFERENCIA-->
                <!--CIERRE DE ESTRUCTURA-->
                <div class="wrap-proceso" id="srcContratos">
                </div>
                <div id="divPagContratos" class="">
                </div>

            </div>
            <!--END CONTAINER-->
        </div>
    </div>
</section>

@* <section>
    <div class="container">
            <div class="wrap-proceso">
        <!--NUEVA ESTRUCTURA-->
            <div class="card">
                <div class="card-body">
                    <div class="cotractName contractSEFIN">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <span class="small">Entidad</span>
                                <div class="clearfix"></div>
                                <h2>AGENCIA DISTRITAL PARA LA EDUCACION SUPERIOR LA CIENCIA Y LA TECNOLOGIA ATENEA</h2>
                            </div>
                        </div>
                    </div>
                    <div class="contractNumberRP proceso-code"><span>Código proceso: </span><span class="text-bold">CO1.BDOS.6676112</span></div>
                    <div class="contractNumberRP"><span>Proceso: </span><span class="text-bold">Aunar esfuerzos tecnicos; administrativos; jurídicos; financieros; academicos; de permanencia y bienestar entre las Instituciones de Educacion Superior - IES y la Agencia Distrital para la Educacion Superior; la Ciencia y la Tecnologia - Atenea; para la implementacion del Programa Jovenes a la E</span></div>
                    <div class="wrap-head-process">
                        <div class="contractData">
                            <div class="row border-b">
                                <div class="col-xs-12 col-md-4">
                                    <span class="txt_small">Estado del proceso</span>
                                    <span class="amount_adj">En Ejecución</span>
                                </div>
                                <div class="col-xs-6 col-md-4">
                                    <span class="txt_small">Monto Estimado</span>
                                    <span class="amount_adj">310.572.659.416,00</span>
                                </div>
                                <div class="col-xs-6 col-md-2">
                                    <span class="txt_small">Moneda</span>
                                    <span class="amount_adj">COP</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="related-contracts py-3">
                    <h3>Contrato(s) u órden(es) de compra :</h3>
                    <!--ACORDEON-->
                    <div class="accordion-list">
                        <div class="accordion-item section-bg3">
                            <div class="accordion-trigger">Código de contratación:  140761</div>
                            <div class="accordion-content content">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row border-b">
                                            <div class="col-md-12">
                                                <span class="small"> CONTRATO U ORDEN DE COMPRA</span>
                                                <span class="amount_adj">Combustible Nacional III - Contratar el suministro de combustible para el parque automotor de la Administración Central del Distrito de Santiago de Cali de conformidad con las especificaciones técnicas establecidas.</span>
                                            </div>
                                        </div>
                                        <div class="row border-b">
                                            <div class="col-md-4">
                                                <span class="small">RAZÓN SOCIAL</span>
                                                <a role="button" class="enlace_contratista" data-type="CONTRATISTA" data-parameter="">
                                                    <span class="amount_adj"><i class="material-icons md-22">shortcut</i> GLOBOLLANTAS S.A.S.</span>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="small"> TIPO DE DOCUMENTO</span>
                                                <span class="amount_adj">NIT</span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="small"> NÚMERO DE DOCUMENTO</span>
                                                <span class="amount_adj">805000253</span>
                                            </div>
                                        </div>
                                        <div class="row border-b">
                                            <div class="col-xs-6 col-md-6">
                                                <span class="small"> VALOR CONTRATADO</span>
                                                <span class="amount_adj"> $ 2.349.386.247,00</span>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <span class="small"> MONEDA</span>
                                                <span class="amount_adj"> COP </span>
                                            </div>
                                        </div>
                                        <div class="row border-b">
                                            <div class="col-xs-6 col-md-3">
                                                <span class="small">FECHA DE INICIO CONTRATO</span>
                                                <span class="amount_adj">2025-01-16</span>
                                            </div>
                                            <div class="col-xs-6 col-md-3">
                                                <span class="small">FECHA DE FIN CONTRATO</span>
                                                <span class="amount_adj">2025-12-31</span>
                                            </div>
                                            <div class="col-xs-6 col-md-3">
                                                <span class="small">Fecha de INICIO EJECUCIÓN</span>
                                                <span class="amount_adj">2025-01-16</span>
                                            </div>
                                            <div class="col-xs-6 col-md-3">
                                                <span class="small">Fecha de FIN EJECUCIÓN</span>
                                                <span class="amount_adj">2025-12-31</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="" class="btn btn-primary btn-participe">
                                            <i class="material-icons md-22">add_comment</i> Hacer comentario al contrato
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item section-bg3">
                            <div class="accordion-trigger">Código de contratación: CO1.PCCNTR.7222821</div>
                            <div class="accordion-content content">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row border-b">
                                            <div class="col-md-12">
                                                <span class="small"> CONTRATO U ORDEN DE COMPRA</span>
                                                <span class="amount_adj">Combustible Nacional III - Contratar el suministro de combustible para el parque automotor de la Administración Central del Distrito de Santiago de Cali de conformidad con las especificaciones técnicas establecidas.</span>
                                            </div>
                                        </div>
                                        <div class="row border-b">
                                            <div class="col-md-4">
                                                <span class="small">RAZÓN SOCIAL</span>
                                                <a role="button" class="enlace_contratista" data-type="CONTRATISTA" data-parameter="">
                                                    <span class="amount_adj"><i class="material-icons md-22">shortcut</i> GLOBOLLANTAS S.A.S.</span>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="small"> TIPO DE DOCUMENTO</span>
                                                <span class="amount_adj">NIT</span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="small"> NÚMERO DE DOCUMENTO</span>
                                                <span class="amount_adj">805000253</span>
                                            </div>
                                        </div>
                                        <div class="row border-b">
                                            <div class="col-xs-6 col-md-6">
                                                <span class="small"> VALOR CONTRATADO</span>
                                                <span class="amount_adj"> $ 2.349.386.247,00</span>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <span class="small"> MONEDA</span>
                                                <span class="amount_adj"> COP </span>
                                            </div>
                                        </div>
                                        <div class="row border-b">
                                            <div class="col-xs-6 col-md-3">
                                                <span class="small">FECHA DE INICIO CONTRATO</span>
                                                <span class="amount_adj">2025-01-16</span>
                                            </div>
                                            <div class="col-xs-6 col-md-3">
                                                <span class="small">FECHA DE FIN CONTRATO</span>
                                                <span class="amount_adj">2025-12-31</span>
                                            </div>
                                            <div class="col-xs-6 col-md-3">
                                                <span class="small">Fecha de INICIO EJECUCIÓN</span>
                                                <span class="amount_adj">2025-01-16</span>
                                            </div>
                                            <div class="col-xs-6 col-md-3">
                                                <span class="small">Fecha de FIN EJECUCIÓN</span>
                                                <span class="amount_adj">2025-12-31</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="" class="btn btn-primary btn-participe">
                                            <i class="material-icons md-22">add_comment</i> Hacer comentario al contrato
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item section-bg3">
                            <div class="accordion-trigger">Código de contratación: CO1.PCCNTR.7222821</div>
                            <div class="accordion-content content">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row border-b">
                                            <div class="col-md-12">
                                                <span class="small"> CONTRATO U ORDEN DE COMPRA</span>
                                                <span class="amount_adj">Combustible Nacional III - Contratar el suministro de combustible para el parque automotor de la Administración Central del Distrito de Santiago de Cali de conformidad con las especificaciones técnicas establecidas.</span>
                                            </div>
                                        </div>
                                        <div class="row border-b">
                                            <div class="col-md-4">
                                                <span class="small">RAZÓN SOCIAL</span>
                                                <a role="button" class="enlace_contratista" data-type="CONTRATISTA" data-parameter="">
                                                    <span class="amount_adj"><i class="material-icons md-22">shortcut</i> GLOBOLLANTAS S.A.S.</span>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="small"> TIPO DE DOCUMENTO</span>
                                                <span class="amount_adj">NIT</span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="small"> NÚMERO DE DOCUMENTO</span>
                                                <span class="amount_adj">805000253</span>
                                            </div>
                                        </div>
                                        <div class="row border-b">
                                            <div class="col-xs-6 col-md-6">
                                                <span class="small"> VALOR CONTRATADO</span>
                                                <span class="amount_adj"> $ 2.349.386.247,00</span>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <span class="small"> MONEDA</span>
                                                <span class="amount_adj"> COP </span>
                                            </div>
                                        </div>
                                        <div class="row border-b">
                                            <div class="col-xs-6 col-md-3">
                                                <span class="small">FECHA DE INICIO CONTRATO</span>
                                                <span class="amount_adj">2025-01-16</span>
                                            </div>
                                            <div class="col-xs-6 col-md-3">
                                                <span class="small">FECHA DE FIN CONTRATO</span>
                                                <span class="amount_adj">2025-12-31</span>
                                            </div>
                                            <div class="col-xs-6 col-md-3">
                                                <span class="small">Fecha de INICIO EJECUCIÓN</span>
                                                <span class="amount_adj">2025-01-16</span>
                                            </div>
                                            <div class="col-xs-6 col-md-3">
                                                <span class="small">Fecha de FIN EJECUCIÓN</span>
                                                <span class="amount_adj">2025-12-31</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="" class="btn btn-primary btn-participe">
                                            <i class="material-icons md-22">add_comment</i> Hacer comentario al contrato
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    </div>
                        <!--BOTON VER MAS-->
                        <div class="row px-3">
                            <div class="col-xs-12 col-md-12">
                                <a href="https://community.secop.gov.co/Public/Tendering/OpportunityDetail/Index?noticeUID=CO1.NTC.7328689&amp;isFromPublicArea=True&amp;isModal=true&amp;asPopupView=true" target="_blank" class="btn btn-outlined">
                                    <span class="txt_small">Conoce más de este proceso</span>
                                    <i class="material-icons md-22">launch</i>
                                    
                                </a>
                            </div>
                        </div>
                </div>

            </div>
            </div>
    </div>

</section> *@

</main>



<input id="moneda" name="moneda" type="hidden" value="@Model.Moneda">
<input id="maxyear" name="maxyear" type="hidden" value="@Model.MaxYear">


<script src="@Cdn.Url(Url, "~/js/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Cdn.Url(Url, "~/js/lib/D3/d3.v7.min.js")"></script>
<script type="text/javascript" src="@Cdn.Url(Url, "~/js/contratos_aux.js")"></script>

@section DataBody {
                data-unidadcompra='[{"unidadcompra":"@Model.Entidad"}]'


}
