@model PlataformaTransparencia.Modelos.Contratos.ModelContratosConsolidados
@inject OrchardCore.IOrchardHelper Orchard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var etiquetas = await Orchard.GetContentItemByHandleAsync("alias:Etiquetas");
    var LabelContratos = "";
    var TituloContratos = "";
    System.IFormatProvider culture =
new System.Globalization.CultureInfo("es-CO");
}
@foreach (var etiqueta in etiquetas.Content.BagPart.ContentItems)
{
    if (@etiqueta.AliasPart.Alias == "Contratos")
    {
        LabelContratos = @etiqueta.HtmlBodyPart.Html;
        TituloContratos = @etiqueta.TitlePart.Title;
    }
}
<main>
<section class="banner-main">

    <div class="container">
        <!-- Begin bread crumbs -->
        <nav class="bread-crumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs-list">
                            <li>
                                <a href="\">Inicio</a>
                                <i class="material-icons md-18">chevron_right</i>
                            </li>
                            <li>¿Cómo va la contratación?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav><!-- End bread crumbs -->


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="banner-main-info">
                    <div class="banner-main-title mb-0">
                        <h1>¿Cómo va la contratación?</h1>
                    </div>
                    <div class="banner-main-desc">
                        <!--<p>
                            @LabelContratos
                        </p>-->
                        <p>¡Pa' que Veás! Te ofrece la opción de conocer cada contrato y contratista de la Alcaldía. ¡Buscá el que querás y ayudános a vigilar!</p>
                    </div>

                </div>
            </div>

        </div>

        <!--SELECT AÑO-->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <!--YEAR FILTER-->
                <div class="form-group">
                    <label for="top_contratos_periodos">Selecciona un año:</label>
                    <select class="form-select" id="top_contratos_periodos"></select>
                </div>
            </div>
        </div>

    </div>
   
</section>


@if (@Model.CodigoProceso == null)
{
<section class="section-gray" id="contratosentidad" hidden="true">
    <div class="container">
        <div class="section-heading heading-center">
            <h3>Contratos por Fuente de Datos</h3>
        </div>
        <div class="row">
            @if (Model.Consolidados.Count() > 0)
            {
            foreach (var item in Model.Consolidados)
            {
                    <div class="col-md-4">
                        <div class="card shadow border-0 h-100">
                            <div class="car-deck">
                                    <div class="card-headerdata  text-center">
                                        <img class="img-fluid img20" src="../img/logoHaciendaB.png" alt="lorem impsum" />
                                </div>
                                <div class="car-bodycntos">
                                    <div class="car-content">
                                        <div class="info_contra" id="dataSEFIN">

                                                    <text>
                                                        <div class="h6">Contratos @item.OrigenInformacion</div>
                                                        <div class="h4"> @String.Format(culture, "{0:n0}", @item.NroContratos)</div>
                                                        <div class="h6">Valor</div>
                                                        <div class="h4">
                                                            @item.MonedaContrato
                                                            @if (@item.ValorContratado >= 1000000)
                                                            {
                                                                <text> @String.Format(culture, "{0:n1}", @item.ValorContratado / 1000000) Millones</text>
                                                            }
                                                            else
                                                            {
                                                    <text> @String.Format(culture, "{0:n1}", @item.ValorContratado)</text>
                                                            }
                                                        </div>
                                                        </text>
                                   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                }
                else
                {
                    <div class="col-md-4">
                        <div class="card shadow border-0 h-100">
                            <div class="car-deck">
                                <div class="card-headerdata  text-center">
                                    <img class="img-fluid img20" src="../img/logoHaciendaB.png" alt="lorem impsum" />
                                </div>
                                <div class="car-bodycntos">
                                    <div class="car-content">
                                        <div class="info_contra" id="dataSEFIN">

                                            <text>
                                                <div class="h6">Contratos</div>
                                                <div class="h4">0</div>
                                                <div class="h6">Valor</div>
                                                <div class="h4">- -</div>
                                            </text>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            <div class="col-md-12">
                <div class="alertCont alert-info" role="alert">Para evitar duplicaciones en los análisis, se recomienda utilizar las publicaciones de manera separada, usando los datos de <strong>ONCAE</strong> para análisis sobre licitaciones, y <strong>SEFIN</strong> para análisis de presupuesto y pago de contratos.</div>
            </div>
        </div>
     
    </div>
</section>

}

<section class="section" id="secInfoContratos">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Filtros</h2>
                <form class="contractList bgSoftGray">
                   
                    <div class="form-group" id="grpentidad">
                        <label class="year" for="entidad">Ente gestor</label>

                        <input type="search" data-results="search-home" data-search="home" id="entidad" class="search-input form-control input-lg" autocomplete="on" placeholder="Ente gestor">

                        <div id="search-home" class="search-body">
                            <div id="divNoEncontrado" class="no-search-results" style="display: none;">No se han encontrado instituciones</div>

                        </div>
                    </div>
                    <div class="form-group" hidden="true">
                        <label class="origen" for="top_origen_informacion">Fuente de Datos</label>
                        <select class="form-select" id="top_origen_informacion">
                            <option value="">Todos</option>
                            @if (Model.selectCon.Count > 0)
                            {
                                foreach (var item in Model.selectCon)
                                {
                                    <text>
                                        <option value="@item.CodigoOrigenInformacion">@item.OrigenInformacion.ToUpper()</option>
                                    </text>
                                }

                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="year" for="proceso">Proceso Palabra Clave </label>

                        <input type="search" data-results="search-home" data-search="home" id="proceso" class="search-input form-control input-lg" autocomplete="on" placeholder="Código ó Ventilador, reactivos, etc." value="@Model.CodigoProceso">

                    </div>
                    <div class="triggerForm">
                        <input type="button" class="btn btn-primary" value="Buscar" id="btn-buscar" disabled=""><div class="clearfix"></div>
                        <a class="btn btn-link text-center" id="btnLimpiar" disabled="disabled">LIMPIAR FILTROS</a>
                    </div>

                </form>

            </div>
            <!--CONTRACT-LIST-->
            <div class="col-lg-8">
                <!--ESTRUCTURA HTML PARA TOMAR COMO REFERENCIA-->
                <!--CIERRE DE ESTRUCTURA-->
                <div class="wrap-proceso whiteBg" id="srcContratos">
                </div>
                <div id="divPagContratos" class="">
                </div>

            </div>
            <!--END CONTAINER-->
        </div>
    </div>
</section>

</main>
<!--HELP CENTER SHORTCUT-->
<div id="helpCenter"></div>

<input id="moneda" name="moneda" type="hidden" value="@Model.Moneda">
<input id="maxyear" name="maxyear" type="hidden" value="@Model.MaxYear">


<script src="~/js/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/js/lib/d3/d3.v7.min.js"></script>
<script src="js/contratos_aux.js"></script>


@section DataBody {
                data-unidadcompra='[{"unidadcompra":"@Model.Entidad"}]'


}
